#zt_LoginPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.zt_login_top_panel {
  flex: 0 0 auto;
  color: black;
  font-size: 13px;
  height: 100px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;
}
.zt_login-header-image {
  flex: 0 0 auto;
  .zt_login-img-lang {
    padding: 12px 40px;
    height: 100%;
    object-fit: contain;
  }
}
.zt_login-header-c {
  flex: 1 1 auto;
}
.zt_login-header-lang {
  flex: 0 0 auto;
  display: flex;
}


.zt_login_submit_table_panel {
  flex: 1 1 auto;
  height: 100%;
  transition: all 1s ease-out;

}
.LoginContainer {
  flex: 1 1 auto;
  overflow: auto;
  height: 100%;
  display: none;
  flex-direction: column;
}

.zt_login_wrapper_url_top {
  margin: 0px auto 10px auto;
  max-width: 500px;
  top: calc(50% - 110px);
  padding: 0 14px;
}


.zt_login_submit_table_panel_open {

  .zt_login_submit_table_panel {
    flex: 0 0 auto;
    height: auto;
    top: 0;
  }
  .zt_login_wrapper_url_top {
    top: 0;
  }
  .LoginContainer {
    display: flex;
  }
}

#zt_LoginPage {
  .pp_tollbar_tools {
    display: none!important;
  }




  .zt_co_table_1 {
    height: 98px;
    flex: 0 0 auto;
    .cool_t_info {
      display: none;
    }
  }

  .zt_co_table_2 {
    overflow: hidden;
    height: 100%;
    flex: 1 1 auto;
  }
}
