#zt_RegistrationPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.zt_regp_top_panel {
  flex: 0 0 auto;
  color: black;
  font-size: 13px;
  height: 70px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;

  background: white;
}

.zt_regp-header-image {
  flex: 1 1 auto;
  overflow: hidden;
  .zt_regp-img-lang {
    padding: 12px 40px;
    height: 100%;
    object-fit: contain;
  }
}
.zt_regp-header-c {
  flex: 1 1 auto;
}
.zt_regp-header-lang {
  flex: 0 0 auto;
  display: flex;
}

.zt_regp_container {
  flex: 1 1 auto;
  overflow: hidden;
}
.zt_regp_params_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
}

.zt_regp_footer {
  touch-action: none;
  cursor: move;
  display: flex;
  flex-shrink: 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
  font-size: 1rem;
  height: auto;
  background: #f5f5f5;
  font-weight: normal;
  color: #000;
  overflow: hidden;
  padding: 12px;

  justify-content: center;
}

.zt_regp_btn {
  color: black;
  height: 46px;
  display: inline-block;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 0.8rem;
  border-radius: 60px;
  background: transparent;
  cursor: pointer;
  border: 1px solid black;
}

.zt_regp_params {
  max-width: 1000px;
  max-height: 100%;
}
.zt_regp_main_params {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
