.cool_t_cloth {
  height: 100%;
  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;
  //height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}

.cool_t_wrapper_main {
  display: flex;
  flex-direction: column;

  border: solid 4px transparent;

  .cool_t_wrapper_table {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
    .cool_t_table{
      flex: 1;
      overflow: auto;
    }
    .cool_t_chart{
      flex: 1;
      overflow: auto;
      height: 50%;
      .chart{
          min-height: 100%;
      }
    }
  }
}

.cool_t_wrapper_main.cl_active {
  border-color: #fcfffd9c;
}

#MainTable {


}

.vtc_co_input_filter {
  width: 100%;
  display: flex;
  flex-direction: row;

  height: 30px;
  overflow: auto;
}
.vtc_input_filter {
  width: 100%;
}
.vtc_btn_arr_table {
  padding: 0px 0px !important;
  font-size: 9px !important;
  width: 21px !important;
  flex: 0 0 auto;
  border-radius: 5px!important;
}

.cool_t_gc_thead_filter_row {
  background-color: #f4f6f6!important;
}
.cool_t_th_content .react-select__control {
  overflow: auto;
  height: 30px;
  min-height: 24px;

  box-shadow: none!important;
  background: white!important;
  border-radius: 1px!important;
  border: 1px solid #979898!important;
}

.cool_t_th_content .react-select__indicators {
  height: 24px!important;
}


.cool_t_edit_mode {
  //Убираем выделение при наведении
  .cool_t_tr:focus, .cool_t_tr:active {
    outline-style: none!important;
  }
  .cool_t_tr:hover {
    background-color: unset!important;
  }

  .cool_t_td:hover {
    background-color: #f3f2f1;
  }

  .cool_t_td {
    cursor: pointer;
  }
}

.cool_t_focus_cell_div {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.cool_t_focus_cell {
  border: none;
  width: 100%;
  flex: 1 1 auto;
  outline: none;
  margin: 2px;
  cursor: pointer;
  caret-color: transparent;
}
.cool_t_select_cell {
  outline: 2px solid green;
  outline-offset: -2px;
  &.cool_t_editable_cell {
    outline-color: #0a6aa1;
    cursor: unset;
  }
}




.zt_co_form {
  .zt_form_container {
    .zt_form_container {
      padding: 0px 0px 2px 2px;
    }
  }

  .zt_table_tab_content {
    height: 260px;
    position: relative;
    display: block;

    flex: 1 1 auto;
  }
  .zt_form_tab_content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    .zt_form_tab_content {
      border: solid 1px #e8e8e8;
      border-right: 0px;
    }
  }

  .zt_form {
    height: 100%;
  }
  .zt_form_container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .zt_pp_form_tabs {
    flex: 0 0 auto;
  }
  .zt_form_params {
    flex: 0 0 auto;
  }

  .zt_form_container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  .zt_table_container {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

}



@include sass-themify() {
  .cool_t_chart::-webkit-scrollbar, .cool_t_chart::-webkit-scrollbar {
    height: sass-themify-get-color("cool_t_gc_tbody-webkit-scrollbar-height");
    width: sass-themify-get-color("cool_t_gc_tbody-webkit-scrollbar-width");
    background-color: sass-themify-get-color('cool_t_gc_tbody-webkit-scrollbar-background-color');
  }
  .cool_t_chart::-webkit-scrollbar-thumb, .cool_t_chart::-webkit-scrollbar-thumb {
    background: sass-themify-get-color('cool_t_gc_tbody-webkit-scrollbar-thumb-background');
  }
}
