#zt_ViewPage {
  height: 100%;
  width: 100%;
  padding: 8px;
  .cool_t_wrapper_main {
    display: flex;
    flex-direction: column;

    box-shadow: -2px -2px 5px rgba(255,255,255,0.431373), 3px 3px 5px rgba(0,0,0,0.1);
    border-radius: 12px;
    overflow: hidden;
  }
}
.zt_cloth {
  height: 100%;
  width: 100%;
}