:global {
	.react-select__option {
		white-space: nowrap;
		display: flex!important;

		.class-name {
			font-size: 11px;
			color: #686060;

			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
			text-overflow: ellipsis;
		}

		.param-name {
			flex:1;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
			text-overflow: ellipsis;
			min-width: 50px;
		}
	}

	.react-select__option--is-selected {
		.class-name {
			color: #ececec;
		}
	}

	#zt_ImportPage {
		height: calc(100% - 84px);
	}
}
.import-param-select {
	width: 100%
}