@use "~sass-themify/sass-themify" as *;

@mixin sidebar-wrap-wrap {
  background-color: white;
  height: 100%;
  width: 100%;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.15);
}

#zt_FilterSidebar_wrap {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  top:0px;
  left: 0px;
  position: fixed;
  z-index: 1300;
  width: 300px;
  height: 100%;
  transition: all 0.3s ease 0s;
  transform: translate3d(-100%, 0px, 0px);
  will-change: transform;
}
#zt_FilterSidebar_wrap_wrap {
  @include sidebar-wrap-wrap;
}

#zt_FilterSidebar_splitter {
  height: 100%;
  position: fixed;
  width: 4px;
  cursor: col-resize;
  transition: background 0.35s ease 0s;
}
#zt_FilterSidebar_splitter.resizing {
  background-color: #5d78ff;
}



.left-Sidebar {
  #zt_FilterSidebar_wrap {
    transform: translate3d(-100%, 0px, 0px);

    left: 0px;
    right: unset;
  }

  #zt_FilterSidebar_splitter {
    right: 0px;
  }
}
.right-Sidebar {
  #zt_FilterSidebar_wrap {
    right: 0px;
    left: unset;
    transform: translate3d(100%, 0px, 0px);
  }

  #zt_FilterSidebar_splitter {
    left: 0px;
  }
}

#zt_FilterSidebar_overlay {
  visibility: hidden;
  position: fixed;
  top: 0px;
  z-index: 1200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;
}


.desktop-dis {
  #zt_FilterSidebar.open {
    #zt_FilterSidebar_wrap {
      transform: unset;
    }
    &.right-Sidebar {
      #zt_FilterSidebar_wrap {
        transform: translate3d(0%, 0px, 0px);
      }
    }
    #zt_FilterSidebar_overlay {
      visibility: hidden;
      transform: unset;
    }
  }
  &.hover-FilterSidebar #zt_FilterSidebar.open {
    #zt_FilterSidebar_overlay {
      visibility: visible;
    }
  }
}
.mobile-dis {
  #zt_FilterSidebar.open {
    #zt_FilterSidebar_overlay {
      opacity: 1;
      transition: opacity 0.3s ease 0s;
    }
    #zt_FilterSidebar_wrap {
      transform: unset;
    }
    &.right-Sidebar {
      #zt_FilterSidebar_wrap {
        transform: translate3d(0%, 0px, 0px);
      }
    }
  }
}



#zt_FilterSidebar_header {
  display: flex;
  flex: 0 0 auto;
  height: 40px;
  box-shadow: 0 0 28px 0 rgba(82,63,105,0.08);

  .zt_btn_FilterSidebar {
    webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 20px;
    width: 40px;
  }
  .zt_co_logo_min {
    webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }
}
#zt_FilterSidebar_body {
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}
#zt_FilterSidebar_body_co {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@include sass-themify() {
  #zt_FilterSidebar_body_co {
    height: calc(100% - #{sass-themify-get-color('header-height')});
  }
  #zt_FilterSidebar_wrap {
    width: sass-themify-get-color('FilterSidebar-width');
  }
  #zt_FilterSidebar_wrap_wrap {
    background-color: sass-themify-get-color("MenuSidebar_wrap-background-color");
    color: sass-themify-get-color("MenuSidebar_wrap-color");
  }
  #zt_FilterSidebar_header {
    height: sass-themify-get-color("header-height");

    .zt_btn_FilterSidebar {
      font-size: sass-themify-get-color("header-font-size");
      width: sass-themify-get-color("header-height") + 8px;
    }
  }
  .rc-tree-node-selected {
    background-color: sass-themify-get-color('rc-tree-node-selected-background-color');
    color: sass-themify-get-color('rc-tree-node-selected-color');
  }
};