$Height_header: 40px;
$HeaderIconsFontSize: 20px;
$background_color_btn_active: #dbdbdb;
$color_btn_active: #5d78ff;
.toggle-box {
  display: none;
}
.toggle-box + label {
  display: block;
}
.toggle-box + label + div {
  display: none;
}
.toggle-box:checked + label + div {
  display: block;
  /*background: #efefef;*/
  padding:5px;    
}
#zt_header {
  color: black;
  font-size: 13px;
  background-color: white;
  height: $Height_header;
  z-index: 1120;


  position: fixed;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;

  box-shadow: 0 0 28px 0 rgba(82,63,105,0.08);

  .zt_btn_MenuSidebar {
    font-size: $HeaderIconsFontSize;
  }
}

#zt_header_co_left_panel {
  display: flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  // width: 236px; /*В зависимости от размера левого меню*/
}

#zt_header_btn_MenuSidebar {
  width: $Height_header + 8px;
  border-right: solid 1px #cfd1dc;
}
#zt_header_btn_FilterSidebar {
  width: $Height_header + 8px;
  border-left: solid 1px #cfd1dc;
}

#zt_header_co_logo {
  display: flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100px;
}

#zt_header_reserve {
  display: flex;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;

}
#zt_header_co_btns {
  display: flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto
}


#zt_header_clock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-align: center;
}


.zt_header-btn {
  padding: 8px;
  z-index: 1;
  background-color: white;
  color: #6c7293;
  font-weight: 500;
  border: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;

  &:active, &.active {
    color: #5d78ff;
  }
  &:hover {
    background-color: $background_color_btn_active;
  }
}



.fxs-topbar-avatarmenu {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  box-sizing: border-box;
  z-index: 1;
  .fxs_dropdown {
    height: 100%;
  }

  .fxs-dropmenu-button {
    border: none;
    padding: 0;
    margin: 0;
    background: 0 0;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: inherit;
  }
  .fxs-avatarmenu-header {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .fxs-avatarmenu-tenant-container {
    text-align: right;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 20px;
  }
  .fxs-avatarmenu-username {
    font-size: inherit;
  }

  .fxs-avatarmenu-tenant, .fxs-avatarmenu-username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    max-width: 146px;
  }
  .fxs-avatarmenu-tenant {
    font-family: az_ea_font,"Segoe UI",wf_segoe-ui_semibold,"Segoe UI Semibold","Segoe WP Semibold","Segoe WP",Tahoma,Arial,sans-serif;
    font-weight: 600;
    font-size: 10px;
    /*text-transform: uppercase;*/
    opacity: .9;
  }

  .fxs-avatarmenu-tenant-image-container {
    height: 100%;
    width: 46px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: content-box;
  }
  .fxs-avatarmenu-tenant-image {
    height: 35px;
    width: 35px;
    border: 0;
    border-radius: 35px;
  }
  #fxs-page-right-panel {
    position: fixed;
    top:40px;
    z-index: 5;
    max-width: calc(100% - 48px);
    width: 537px;
    color: #000;
    border-color: rgba(204,204,204,.8);
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);
    height: calc(100% - 40px);
  }
  #fxs-page-modal-panel {
    position: absolute;
    top:40px;
    z-index: 5;
    max-width: calc(100% - 48px);
    width: 537px;
    color: #000;
    border-color: rgba(204,204,204,.8);
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);
    height: calc(100% - 40px);
  }

  .fxs-topbar-button {
    display: -webkit-flex;
    display: flex;
    height: 40px;
    width: 48px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 18px;
    color: white!important;
    text-decoration: none!important;
    text-align: center;
  }

  .fxs-dropmenu-button:active,
  .fxs-dropmenu-button:hover,
  .fxs-topbar-button:active, .fxs-topbar-button:hover {
  }

  &:hover {
    color: $color_btn_active;
    background-color: $background_color_btn_active;
  }
}

@media (max-width: 700px) {
  .hidden-custom-700 {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .hidden-custom-500 {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .show-custom-500 {
    display: block !important;
  }
}




//dropdown работать не будет, решено сделать через еще один контейнер
.fxs_dropdown {
  z-index:1;
}
.fxs_dropdown_menu {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.12);
}
.fxs_open>.fxs_dropdown_menu {
  display: block;
}
.fxs-contextpane-close {
  right: 0;
  height: 30px;
  width: 30px;
  fill: #000;

  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin: 0;
  transition: background .2s ease-out;
  position: absolute;
  top: 0;
}
.fxs_open #fxs_btn_show_co_mobile {
  background-color: #fff;
  fill: #1c1c1c;
  color: #1c1c1c!important;
}

.ul_fxs_list_standart {
  margin-bottom: 0px;
  padding-left: 0px;
}
.ul_fxs_list_standart>li {
  list-style-type: none;
}

.fxs_topbar_co_mobile_a {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 20px;
  display: -webkit-flex;
  display: flex;
  color: #000;
  font-size: 13px;
}
.fxs_topbar_co_mobile_a:hover {
  background-color: rgba(85,179,255,.1);
  text-decoration: none;
  color: #000;
}
.fxs_topbar_co_mobile_text {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fxs_topbar_co_mobile_icon {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 16px;
  width: 30px;
  padding-left: 10px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none!important;
  text-align: center;
}
.fxs_topbar_co_mobile_icon .fxs-notificationspane-button-unreadcount {
  border: 1px solid #232323;
  position: absolute;
  top: -8px;
  right: -8px;
}

.dropdown-menu-right, .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}


.fxs-avatarmenu-content-header {
  min-width: 360px;
  /* height: 48px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}
.fxs-avatarmenu-content-header-logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  width: 0;
}
.fxs_db_a {
  display: block;
  border-style: none;
  border-width: 0;
  outline-style: none!important;
  background-color: transparent;
  text-decoration: none;
  text-align: left;
  font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
  cursor: pointer;
}
.fxs_db_a:hover {
  background-color: rgba(0,0,0,.08);
  color: #333;
  text-decoration: none;
}

.fxs_db_name {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 40px;
  padding: 16px 14px;
  color: #333;
  display: block;
  font-size: 14px;
  font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
}
.fxs_db_img {
  position: absolute;
  top: 10px;
  height: 30px;
  width: 30px;
  left: 16px;
}
.fxs-logout {
  font-size: 14px;
  color: #333;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 50%;
  margin-left: auto;
  padding: 16px 14px;
  border-style: none;
  border-width: 0;
  outline-style: none!important;
  background-color: transparent;
  text-decoration: none;
  text-align: left;
  font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
  cursor: pointer;
}

.fxs-logout:hover {
  background-color: rgba(0,0,0,.08);
  color: #333;
  text-decoration: none;
}

.fxs_db_a.active_fxs_db {
  background-color: #f4fff8;
  border: solid #bbd1bb 1px;
  box-shadow: 0px 0px 6px 3px rgba(50, 73, 53, 0.175);
  pointer-events: none; cursor: default;
}


.fxs-avatarmenu-content-currentAccount {
  min-height: 132px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fxs-avatarmenu-content-currentAccount-picture-a {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 88px;
  height: 88px;
  margin-left: 16px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fxs-avatarmenu-content-currentAccount-picture-div {

}

.glyph_account_circle {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' stroke='%23707070'%3E%3Cg class='mectrl_stroke' fill='none'%3E%3Ccircle cx='32' cy='32' r='30.25' stroke-width='1.5'/%3E%3Cg transform='matrix(.9 0 0 .9 10.431 10.431)' stroke-width='2'%3E%3Ccircle cx='24.25' cy='18' r='9'/%3E%3Cpath d='M11.2 40a1 1 0 1 1 26.1 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}
.mectrl_profilepic_button:focus::before, .mectrl_profilepic_button:hover::before {
  background-color: rgba(0,0,0,.5);
}
.mectrl_profilepic_button:focus::before, .mectrl_profilepic_button:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
}
.mectrl_profilepic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fxs-avatarmenu-content-accountInfo {
  font-size: 13px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  width: 0;
  padding-right: 12px;
}

.fxs-avatarmenu-content-accountInfo-name {
  font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
  line-height: initial;
  font-size: 18px;
  font-weight: 700;
}

@include sass-themify() {
  #zt_header {
    background-color: sass-themify-get-color("header-background-color");
    color: sass-themify-get-color("header-font-color");
    height: sass-themify-get-color("header-height");
    font-size: sass-themify-get-color("header-font-size");
    .zt_btn_MenuSidebar {
      font-size: sass-themify-get-color("header-font-size");
    }
  }
  #zt_header_btn_MenuSidebar, #zt_header_btn_FilterSidebar {
    width: sass-themify-get-color("header-height") + 8px;
  }
  .zt_header-btn {
    background-color: sass-themify-get-color("header-btn-background-color");
    color: sass-themify-get-color("header-btn-color");
    font-weight: sass-themify-get-color("header-btn-font-weight");
    border: sass-themify-get-color("header-btn-border");

    -webkit-transition: sass-themify-get-color("header-btn-transition");
    transition: sass-themify-get-color("header-btn-transition");
    cursor: sass-themify-get-color("header-btn-cursor");

    width: sass-themify-get-color("header-height") + 8px;

    &:hover,&:active {
      color: sass-themify-get-color("header-btn-color:hover");
      background-color: sass-themify-get-color("header-btn-background-color:hover");
    }
    &.active {
      color: sass-themify-get-color("header-btn-active-color");
      background-color: sass-themify-get-color("header-btn-active-background-color");
    }
  }
  .OpenFilterSidebar #zt_header_btn_FilterSidebar.zt_header-btn {
    color: sass-themify-get-color("header-btn-active-color");
    background-color: sass-themify-get-color("header-btn-active-background-color");
  }
  .OpenMenuSidebar #zt_header_btn_MenuSidebar.zt_header-btn {
    color: sass-themify-get-color("header-btn-active-color");
    background-color: sass-themify-get-color("header-btn-active-background-color");
  }

  .fxs-topbar-avatarmenu {
    color: sass-themify-get-color("header-btn-color");
    background-color: sass-themify-get-color("header-btn-background-color");
  }
  .fxs-topbar-avatarmenu:hover {
    color: sass-themify-get-color("header-btn-color:hover");
    background-color: sass-themify-get-color("header-btn-background-color:hover");
  }

  .fxs-avatarmenu-tenant-image-container {
    width: sass-themify-get-color("header-height") + 8px;
  }
};