/*
Тут собраны основные стили
*/
#zt_ContainerPage_wrapper {
  top:0px;
  overflow: auto;
  position: absolute;
  width: 100%;
  margin-top: 40px;
  height: calc(100% - 40px);
}
#zt_ContainerPage {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}


/*Десктоп*/
.desktop-dis {
  #zt_header {
    z-index: 1500;
  }
  #zt_MenuSidebar_wrap, #zt_FilterSidebar_wrap {
    top: 40px;
  }
  #zt_MenuSidebar,#zt_FilterSidebar {
    .zt_MenuSidebar_header {
      display: none;
    }
  }


  &.LeftMenuSidebar {
    &.FixedMenuSidebar.OpenMenuSidebar {
      #zt_ContainerPage_wrapper {
        padding-left: 300px;
      }
      &.minMenuSidebar #zt_ContainerPage_wrapper {
        padding-left: 46px;
      }
    }
    &.FixedFilterSidebar.OpenFilterSidebar {
      #zt_ContainerPage_wrapper {
        padding-right: 300px;
      }
    }
  }
  &.RightMenuSidebar.OpenFilterSidebar {
    &.FixedMenuSidebar.OpenMenuSidebar {
      #zt_ContainerPage_wrapper {
        padding-right: 300px;
      }
      &.minMenuSidebar #zt_ContainerPage_wrapper {
        padding-right: 46px;
      }
    }
    &.FixedFilterSidebar.OpenFilterSidebar {
      #zt_ContainerPage_wrapper {
        padding-left: 300px;
      }
    }
  }


}
.mobile-dis {
  #zt_MenuSidebar_wrap, #zt_FilterSidebar_wrap {
    top: 0px;
  }
}
@include sass-themify() {
  .desktop-dis {
    #zt_MenuSidebar_wrap, #zt_FilterSidebar_wrap {
      top: sass-themify-get-color('header-height');
    }

    #zt_ContainerPage_wrapper {
      margin-top: sass-themify-get-color('header-height');
      height: calc(100% - #{sass-themify-get-color('header-height')});
    }

    &.LeftMenuSidebar {
      &.FixedMenuSidebar.OpenMenuSidebar {
        #zt_ContainerPage_wrapper {
          padding-left: sass-themify-get-color('MenuSidebar-width');
        }
        &.minMenuSidebar #zt_ContainerPage_wrapper {
          padding-left: sass-themify-get-color('minMenuSidebar-width');
        }
      }
      &.FixedFilterSidebar.OpenFilterSidebar {
        #zt_ContainerPage_wrapper {
          padding-right: sass-themify-get-color('FilterSidebar-width');
        }
      }
    }
    &.RightMenuSidebar {
      &.FixedMenuSidebar.OpenMenuSidebar {
        #zt_ContainerPage_wrapper {
          padding-right: sass-themify-get-color('MenuSidebar-width');
        }
        &.minMenuSidebar #zt_ContainerPage_wrapper {
          padding-right: sass-themify-get-color('minMenuSidebar-width');
        }
      }
      &.FixedFilterSidebar.OpenFilterSidebar {
        #zt_ContainerPage_wrapper {
          padding-left: sass-themify-get-color('FilterSidebar-width');
        }
      }
    }
  }
  .mobile-dis {
    #zt_ContainerPage_wrapper {
      margin-top: sass-themify-get-color('header-height');
      height: calc(100% - #{sass-themify-get-color('header-height')});
    }
  }
};









//loginPage

#zt_LoginContainerPage_wrapper {
  top: 0px;
  overflow: auto;
  position: fixed;
  width: 100%;
  height: calc(100% - 0px);
}
#zt_LoginContainerPage {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}
