.zt_drag_handle {
  height: 100%;
  width: 20px;
  background: transparent;
  position: fixed;
  z-index: 1100;
}
#zt_MenuSidebar_wrap {
  background-color: transparent;

  top:0px;
  left: 0px;
  position: fixed;
  z-index: 1300;
  width: 300px;
  height: 100%;
  transition: all 0.3s ease 0s;
  transform: translate3d(-100%, 0px, 0px);
  will-change: transform;
}
#zt_MenuSidebar_wrap_wrap {
  background-color: white;
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.mobile-dis {
  .left-Sidebar {
    #zt_MenuSidebar_wrap {
      padding-right: 16px; //left position
    }
  }
}

.desktop-dis.minMenuSidebar {
  #zt_MenuSidebar_wrap {
    width: 46px;
  }
}

.left-Sidebar {
  #zt_MenuSidebar_wrap {
    transform: translate3d(-100%, 0px, 0px);

    left: 0px;
    right: unset;
  }
}
.right-Sidebar {
  #zt_MenuSidebar_wrap {
    right: 0px;
    left: unset;
    transform: translate3d(100%, 0px, 0px);
  }
}

#zt_MenuSidebar_overlay {
  visibility: hidden;
  position: fixed;
  top: 0px;
  z-index: 1200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0s ease 0.3s;
}
.desktop-dis {
  &.FixedMenuSidebar {
    #zt_MenuSidebar_wrap {
      transition: none; //В десктопе с фиксированием никаких анимаций
    }
  }
  #zt_MenuSidebar.open {
    #zt_MenuSidebar_overlay {
      visibility: hidden;
    }
    #zt_MenuSidebar_wrap {
      transform: unset;
    }
    &.right-Sidebar {
      #zt_MenuSidebar_wrap {
        transform: translate3d(0%, 0px, 0px);
      }
    }
  }
  &.hover-MenuSidebar #zt_MenuSidebar.open{
    #zt_MenuSidebar_overlay {
      visibility: visible;
    }
  }
}
.mobile-dis {
  #zt_MenuSidebar.open {
    #zt_MenuSidebar_overlay {
      opacity: 1;
      transition: opacity 0.3s ease 0s;
    }
    #zt_MenuSidebar_wrap {
      transform: unset;
    }
    &.right-Sidebar {
      #zt_MenuSidebar_wrap {
        transform: translate3d(0%, 0px, 0px);
      }
    }
  }
}



#zt_MenuSidebar_header {
  display: flex;
  height: 40px;
  .zt_btn_MenuSidebar {
    webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 20px;
    width: 40px;
  }
  .zt_co_logo_min {
    webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }
}

#zt_MenuSidebar_body {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 40px);
}

#zt_ul_left_menu {
  padding: 15px 0;
  color: #6c7293;

  .zt_li {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    float: none;
    padding: 0;
    box-sizing: border-box;

    margin-bottom: 12px;
  }

  .zt_li_a {
    padding: 9px 25px;
    cursor: pointer;
    min-height: 44px;
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    margin: 0;
    text-decoration: none;
    position: relative;
    color: #5b5c63;

    .cls_stroke {
      stroke: #5b5c63!important;
    }
    .cls_fill {
      fill: #5b5c63!important;
    }

    border-radius: 40px;
    box-shadow: -2px -2px 5px #ffffff6e, 3px 3px 5px rgba(0, 0, 0, 0.1);

    .zt_li_icon {
      flex: 0 0 35px;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      line-height: 0;
    }
    .zt_li_span {
      font-weight: 400;
      font-size: 1rem;
      text-transform: none;
      white-space: nowrap;
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: 0;
    }
    &:hover {
      color: #5d78ff;
      background-color: #ffffff73;
    }
    &.active {
      color: #5d78ff;
      box-shadow: inset -2px -2px 5px #ffffff96, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.minMenuSidebar {
  #zt_ul_left_menu {
    .zt_li_a {
      padding: 0px;
      text-align: center;
      justify-content: center;

      .zt_li_icon {
        flex: 0 0 0px;
      }
      .zt_li_span {
        display: none;
      }
    }
  }
}


@include sass-themify() {
  #zt_MenuSidebar_wrap {
    width: sass-themify-get-color('MenuSidebar-width');
  }
  #zt_MenuSidebar_wrap_wrap {
    color: sass-themify-get-color("MenuSidebar_wrap-color");
    background-color: sass-themify-get-color("MenuSidebar_wrap-background-color");
    background: sass-themify-get-color('MenuSidebar-background');
  }

  .desktop-dis.minMenuSidebar {
    #zt_MenuSidebar_wrap {
      width: sass-themify-get-color('minMenuSidebar-width');
    }
  }

  #zt_MenuSidebar_body {
    height: calc(100% - #{sass-themify-get-color("header-height")});
  }

  #zt_MenuSidebar_header {
    height: sass-themify-get-color("header-height");

    .zt_btn_MenuSidebar {
      font-size: sass-themify-get-color("header-font-size");
      width: sass-themify-get-color("header-height") + 8px;
    }
  }


  #zt_ul_left_menu {
    .zt_li_a {
      box-shadow: sass-themify-get-color('MenuSidebar-a-box-shadow');
      color: sass-themify-get-color('MenuSidebar-a-color');
      min-height: sass-themify-get-color('MenuSidebar-a-min-height');

      .cls_stroke {
        stroke: sass-themify-get-color('MenuSidebar-a-color')!important;
      }
      .cls_fill {
        fill: sass-themify-get-color('MenuSidebar-a-color')!important;
      }

      &.active {
        .cls_stroke {
          stroke: sass-themify-get-color('MenuSidebar-a-color-active')!important;
        }
        .cls_fill {
          fill: sass-themify-get-color('MenuSidebar-a-color-active')!important;
        }

        color: sass-themify-get-color('MenuSidebar-a-color-active');
      }
    }
  }
};