#zt_MSidebar {
  display: none;
  &.open {
    display: block;
  }
}

#zt_MSidebar_wrap {
  position: fixed;
  top: 40px;
  min-width: 360px;
  height: calc(100% - 40px);
  right: 0px;
  background-color: white;
  z-index: 1450;

  border-color: rgba(204,204,204,.8);
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.38);
}

.zt_btn_close {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  font-size: 16px;
  color: #636363;
  margin: 2px;
  &:hover {
    background: #c4ccf3;
  }
}
.zt_M_header {
  padding: 0px 26px 20px 26px;
}
.zt_M_body {
  padding: 10px;

}
.zt_MenuSidebar_title {
  font-size: 18px;
}


@include sass-themify() {
  #zt_MSidebar_wrap {
    top: sass-themify-get-color("header-height");
    height: calc(100% - #{sass-themify-get-color('header-height')});
    background-color: sass-themify-get-color('MSidebar_wrap-background-color');
    color: sass-themify-get-color('MSidebar_wrap-color');
  }
};