#zt_ProgressBar {
  z-index: 3000;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background-color: silver;
  justify-content: center;
  align-items: center;
  display: none;
  opacity:0;

  &.open {
    display: flex;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  &.open_show_opacity {
    opacity: 1;
  }


  .zt-splash-loading-panel {
    background: #e5ebff69;
    width: 80%;
    height: 60px;
    border: solid 2px white;
    display: block;
  }
  .zt-splash-loading-line {
    width: 0%;
    background: white;
    height: 100%;

    transition: all 0.3s ease 0s;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #b5b5b5;
    font-size: 29px;
    overflow: hidden;
    white-space: nowrap;
  }
}