:global{

  .zt_app_cloth {
    padding: 10px;
    .co_views {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .co_tree {
        height: 100%;
        flex: 1 1 auto;
        overflow: auto;
      }
      .co_perm {
        height: 100%;
        flex: 1 1 auto;
        overflow: auto;
      }
    }
  }

  .mobile-dis {
    .co_views {
      .co_tree {
        height: auto;
        width: 100%;
      }
      .co_perm {
        height: auto;
        width: 100%;
      }
    }
  }

}



.permiss_v_row_view {
  background: #dbdbdb;
}
.co_v_table {
  td, th {
    vertical-align: middle;
  }
  .hide_show_btn {
    width: 34px;
    height: 34px;
    vertical-align: middle;
    line-height: 1;
  }
}