<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php echo $nameSystem; ?></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/splash-screen.css">
    <link rel="stylesheet" href="/assets/css/main.css?<?php echo $scriptV;?>">

    <link rel="stylesheet" href="/plugins/fontawesome-free-5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/plugins/primeicons/primeicons.css">
    <link rel="stylesheet" href="/assets/css/others/fonts-googleapis-css.css" />
    <link rel="stylesheet" href="/assets/css/others/fonts-googleapis-icon.css" />
    <link rel="shortcut icon" href="<?=$favicon?$favicon:"/assets/media/favicon.ico"?>" />
</head>
<body>
<noscript> Включите скрипты! </noscript>
<div id="root"></div>
<?php echo $loaderHTML;?>
<script type="text/javascript" >
    <?php
    //Проверяем, если мы не авторизированы
    if(isset($logout)) {
    ?>
    let last_url = "";
    if(window.location.hash) {
        last_url = '?last_url=' + encodeURIComponent(window.location.hash);
    }
    document.location.href = 'login' + last_url;
    <?php
    }
    ?>

    var config = {
            nameSystem: '<?=$nameSystem ?>',
            background_login: '<?=$background_login ?>',
            color_login: '<?=$color_login ?>',
            img_logo_url: '<?=$img_logo_url ?>',
            version: '<?=$version ?>',
            img_logo_alt: '<?=$img_logo_alt ?>',
            img_logo_min_url: '<?=$img_logo_min_url ?>',
            img_logo_min_alt: '<?=$img_logo_min_alt ?>',
            img_logo_sidebar_url: '<?=$img_logo_sidebar_url ?>',
            img_logo_sidebar_alt: '<?=$img_logo_sidebar_alt ?>',
            defaultTheme: '<?=$defaultTheme ?>',
            registration_group: '<?=$registration_group ?>',
        };
        localStorage.setItem('config', JSON.stringify(config));
</script>

<script type="text/javascript" src="/js/index.js?<?php echo $scriptV;?>"></script>
</body>
</html>
