<html lang="en" >
    <head>
        <meta charset="utf-8"/>
        <title><?php echo $nameSystem; ?></title>
        <meta name="description" content="Login">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/assets/css/login.css" rel="stylesheet" type="text/css" />

        <link href="/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/splash-screen.css">
        <link rel="stylesheet" href="/assets/css/main.css?<?php echo $scriptV;?>">
        <link rel="stylesheet" href="/plugins/fontawesome-free-5.12.1/css/all.min.css">
        <link rel="stylesheet" href="/plugins/primeicons/primeicons.css">
        <link rel="stylesheet" href="/assets/css/others/fonts-googleapis-css.css" />
        <link rel="stylesheet" href="/assets/css/others/fonts-googleapis-icon.css" />

        <link rel="shortcut icon" href="<?=$favicon?$favicon:"/assets/media/favicon.ico"?>" />


    </head>
    <body>
      <script type="text/javascript" >
        var config = {
            nameSystem: '<?=$nameSystem ?>',
            background_login: '<?=$background_login ?>',
            color_login: '<?=$color_login ?>',
            img_logo_url: '<?=$img_logo_url ?>',
            version: '<?=$version ?>',
            img_logo_alt: '<?=$img_logo_alt ?>',
            img_logo_min_url: '<?=$img_logo_min_url ?>',
            img_logo_min_alt: '<?=$img_logo_min_alt ?>',
            img_logo_sidebar_url: '<?=$img_logo_sidebar_url ?>',
            img_logo_sidebar_alt: '<?=$img_logo_sidebar_alt ?>',
            forgotPWDEmail:'<?=$forgotPWDEmail ?>',
            AppUID:'<?=$AppUID ?>',
            ViewUIDparrent:'<?=$ViewUIDparrent ?>',
            ViewUID:'<?=$ViewUID ?>',
            SortAttrUID:'<?=$SortAttrUID ?>',
            SortAttrDir:'<?=$SortAttrDir ?>',
            isAppLogin:'<?=$isAppLogin ?>',
            registration_group:'<?=$registration_group ?>',
        };
        localStorage.setItem('config', JSON.stringify(config));
        </script>
      <div id='root' class="kt-grid kt-grid--ver kt-grid--root">
      </div>
      <?php echo $loaderHTML;?>

    </body>

    <?php
        echo '<script src="/js/index.js?'.$scriptV.'" type="text/javascript"></script>';
    ?>
    <link href="/assets/css/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</html>
