.enemat_loader_1 {
  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
  }
  .cls-1 {
    fill: transparent;
  }
  .cls-2 {
    fill: #0071bc;
  }

  .cls-a {
    opacity: 0;
    @include animation('animate_en 3.0s infinite');
  }

  .cls-a0 {
    animation-delay: 0.05s;
  }
  .cls-a1 {
    animation-delay: 0.1s;
  }
  .cls-a2 {
    animation-delay: 0.3s;
  }
  .cls-a3 {
    animation-delay: 0.5s;
  }
  .cls-a4 {
    animation-delay: 0.7s;
  }
  .cls-a5 {
    animation-delay: 0.9s;
  }
  .cls-a6 {
    animation-delay: 1.1s;
  }


  @keyframes :global(animate_en) {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

