.cof_panel {
  z-index: 1500; //Временный z-index, в будущем он будет меняться динамически

  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &.cof_maximize {
    width: 100%;
    height: 100%;
  }
}
.cof_panel_shadow {
  width: 100%;
  height: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cof_hdr {
  padding: 0 4px 0 0;
  height: 30px;
  min-height: 26px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  background-color: #dbdbdb;
  overflow: hidden;
}
.cof_titlebar {
  justify-content: center;
  touch-action: none;
  cursor: move;
  color: #353535;
  display: flex;
  align-items: center;
  flex: 1 1 0px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.cof_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 5px 0 8px;
  min-width: 0;
}
.cof_hdr_btns_co {
  pointer-events: inherit;
  display: flex;
  align-items: center;
  touch-action: none;
  margin: 3px;
}
.cof_hdr_btn {
  display: block;

  background-color: white;
  color: black;
  border: none;

  cursor: pointer;
  touch-action: none;
  border-radius: 50%;
  height: 20px;
  font-size: 13px;
}


.cof_body {
  width: 100%;
  //padding: 1px 0px 15px 15px;
  //overflow: hidden!important;
  overflow: auto!important;
  position: relative;
  flex-grow: 1;
  background-color: #fafafa;
}
.cof_ftr {
  touch-action: none;
  cursor: move;
  display: flex;
  flex-shrink: 0;
  margin: 0;
  padding: 0 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  box-sizing: border-box;
  font-size: 1rem;
  height: auto;
  background: #f5f5f5;
  font-weight: normal;
  color: black;
  overflow: hidden;

  justify-content: space-between;
}

.cof_ftr_fixed_btns_co {
  flex: 0 0 auto;
}
.cof_ftr_btns_co {
 // flex: 1 1 auto;
  display: flex;
  overflow: auto;
  padding: 8px 0px 8px 0px;
  justify-content: right;
}
.cof_ftr_btn {
  min-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 6px 18px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
  margin-left: 8px;
}
.cof_ftr_switch_label {
  //material switchBox
  margin: 0 8px 0 0!important;
}


//Если мобильное отображение, то мы кнопку отодвигаем от самого края
/*
@media (max-width: 768px) {
  .cof_hdr {
      padding: 0 16px 0 0;
  }
}

 */