.zt_form_control {
  width: 320px;
  display: inline-flex;
  flex-direction: column;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 10px;

  .hover-label-parent {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 4px;
    height: 30px;

    .hover-label_wrap1 {
      flex: 1 1 auto;
      position: relative;

      .hover-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: absolute;
        width: 100%;
      }

      .hover-label-dang {
        display: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        position: absolute;
        color: #fb6195;
        bottom: -10px;
        font-size: 10px;
      }
      .hover-label-succ {
        display: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        position: absolute;
        color: #00ab00;
        bottom: -10px;
        font-size: 10px;
      }
    }
    .hover-label_wrap2 {
      flex: 0 0 auto;
      position: relative;
    }
    .hover_label_btn {
      font-size: 14px;
      height: 28px;
      border-radius: 16px;
      border: solid 1px silver;
      margin-left: 2px;
      background: white;
      &:hover {
        color: #5d78ff;
        background-color: #ffffff73;
      }
    }
  }
  .zt_input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    flex-direction: row;

    //file
    .file_control {
      flex: 1 1 auto;
      width: auto;
      position: relative;
      overflow: hidden;

      .file_span {
        width: 100%;
        position: absolute;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        padding-right: 18px;
      }
    }
    .file_input {
      display: none;
    }
    .file_btn_control {
      flex: 0 0 auto;
      .file_btns {
        height: 100%;
        width: 40px;
      }
    }

    //date
    .react-datepicker-wrapper {
      width: 100%;
    }
  }

  &.zt_form_control_dang, .zt_form_control_dang {
    .hover-label-dang {
      display: block!important;
    }
  }
  &.zt_form_control_succ, .zt_form_control_succ {
    .hover-label-succ {
      display: block!important;
    }
  }
}
.zt_array_popover {
  .zt_array_popover_body {
    max-height: calc(100vh - 70px);
    overflow: auto;
    .form-control {
      margin-bottom: 5px;
    } 
  }
}

.zt_select_control {
  width: 100%;

  .react-select__control--is-focused {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

//ckeditor
.zt_ck_co {
  width: 100%;
  display: flex;
  flex-direction: row;
  .zt_ck_c1 {
    flex: 1 1 auto;
    overflow: auto;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: not-allowed;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    .ck-sticky-panel {
      display: none;
    }
    p {
      margin-top: 8px!important;
      margin-bottom: 8px!important;
    }
  }
  .zt_ck_c2 {
    flex: 0 0 auto;
    .zt_ck_btn_op {
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.zt_ck_popover {
  position: fixed!important;
  transform: none!important;
  width: 100%!important;
  max-width: 100%!important;
  height: 100%!important;
  max-height: 100%!important;
  margin-left: 0px!important;

  .arrow {
    display: none!important;
  }
  .popover-header {
    flex: 0 0 auto;
  }
  .popover-body {
    flex: 1 1 auto;
    display: flex;
    height: 100%!important;
    max-height: 100%;
    overflow: hidden;
    padding: 0px!important;
    flex-direction: column;
  }
  .zt_ck_popover_body {
    margin: .5rem .75rem 0;
    max-height: calc(var(--vh, 1vh) * 100 - 100px);
    overflow: auto;
  }
  .zt_ck_btns_co {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: .5rem .75rem;
  }
}
//color
.zt-color-pick-co {
  display: flex;
  flex-direction: row;
  width: 100%;
  .zt-color-pick-c1 {
    flex: 1 1 auto;
    .zt-color-pick-inp {
      display: block;
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .zt-color-pick-c2 {
    flex: 0 0 auto;
    width: 40px;
    & > span{
      width: 100%;
      height: 38px;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

//link control
.zt-link-a {
  background-color: transparent;
  position: relative;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 38px;
  align-items: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}





@media (max-width: 768px) {
  .zt_form_control {
    width: 95%!important;
  }
}

.zt_require_i_label {
  cursor: help;
  margin-right: 4px;
  color: #5d76fa;
}
.zt_form_control_dang .hover-label-dang .zt_require_i_label {
  color: #fb6195;
}
.zt_form_control_succ .hover-label-succ .zt_require_i_label {
  color: #00ab00;
}


.zt_require_input::placeholder {
  color: #e26868;
}




