.kt_e_div {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

//Нужен для фокуса
.kt_e_active_control {

}

.kt_e_input {
  border: none;
  width: 100%;
  flex: 1 1 auto;
  outline: none;
  margin: 2px;
}

.kt_select_control {
  width: 100%;
  .react-select__control {
    min-height: 29px!important;
    height: 29px!important;
  }
  .react-select__indicator {
    padding: 2px!important;
  }
}
.kt_e_select {
  border: none;
  width: 100%;
  flex: 1 1 auto;
  outline: none;
  margin: 2px;
}
.kt_e_loading_select_input {
  border: none;
  width: 100%;
  flex: 1 1 auto;
  outline: none;
  margin: 2px;
}

.kt_v_color_box {
  width: 16px;
  margin-right: 2px;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.kt_v_ck_editor {
  border: none;
  margin-right: 4px;
}

.cool_t_td {
  .zt_ck_c1 {
    overflow: hidden!important;
    height: 30px!important;
  }
  .kt_e_input {
    height: 24px!important;
  }
}