#zt_ClassPage {
  height: 100%;
  width: 100%;
  padding: 8px;
  .cool_t_wrapper_main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .cool_t_tollbar {
      flex: 0 0 auto;
    }
    .cool_t_scroll_wrapper {
      flex: 1 1 auto;
    }
  }
}


.cool_t_scroll_wrapper, .cool_t_info {
  //background-color: white;
}


@include sass-themify() {
  .cool_t_scroll_wrapper, .cool_t_info {
    color: sass-themify-get-color('cool_table-color');
  }
  .cool_t_gc_table, .cool_t_gc_thead_row {
    background-color: sass-themify-get-color('cool_table-background-color');
  }
  .cool_t_tollbar {
    background-color: sass-themify-get-color('cool_t_tollbar-background-color');

  }
};




.form_control_select_tree {
  display: block!important;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  //padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  .rc-tree-select-selection {
    border: none;
    box-shadow: none!important;
    padding: .375rem .75rem;
  }

  &:focus {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}



//sort modal

.ClassPage_sort_modal {
  .modal-body {
    overflow: auto;
    max-height: calc(100vh - 224px);
  }
  .uit_drop {
    background-color: white;
    &.uit_isDraggingOver {
      background-color: #fcfbf3;
    }
  }
  .uit_drag_elem {
    padding: 4px;
    margin: 0 0 4px 0;
    border: solid 2px #dddddd;
    border-radius: 2px;
    background-color: white;
    &:hover {
      background-color: #fcfbe4;
    }
    &.uit_isDragging_elem {
      background-color: #fcfbe4;
      border-color: #32c5d2;
    }
  }
}
