.vtc_control {
  box-shadow: -2px -2px 5px rgba(255,255,255,0.431373), 3px 3px 5px rgba(0,0,0,0.1);
  padding: 6px;
  margin: 8px;
  border-radius: 8px;
}
.vtc_co_label {
  display: flex;
  flex-direction: row;
  .vtc_label_span {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .vts_switch_co {
    flex: 0 0 auto;
  }
}
.vtc_control .vtc_input_text, .vtc_control .react-select__control {
  box-shadow: inset -2px -2px 5px #ffffff96, inset 3px 3px 5px rgba(0, 0, 0, 0.1)!important;
  background: transparent!important;
  border-radius: 12px!important;
  border: solid 3px transparent!important;

  &:focus, &.react-select__control--is-focused {
    border: solid 3px #a4c3e4!important;
    border-color: #a4c3e4!important;
  }

  .react-select__multi-value {
    background: #ebebeb;
    padding: 2px 0 2px 7px;
    border-radius: 10px;
    margin: 0px 2px;
  }
  .multi-value__label {
    padding: 0px;
  }
  .react-select__multi-value__remove {
    border: none;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background: #216ba5;
      color: white;
    }
    svg {
      height: 12px!important;
    }
  }
  .react-select__multi-value__label {
    padding: 2px 3px 1px 2px;
    font-size: 12px;
  }
}
.vtc_co_input_filter .vtc_input_text{
  padding: 0px;
  height: 30px;
}

.vtc_co_tags_arr {
  .react-tags-wrapper {
    background: transparent !important;
  }
  .ReactTags__tagInputField {
    width: 100%;
    height: 30px;

    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
  }

  .tag-wrapper.ReactTags__tag {
    opacity: 1;
    cursor: auto;
    background: #ebebeb;
    padding: 2px 0 2px 7px;
    border-radius: 10px;
    margin: 2px;
  }
  .ReactTags__remove {
    border: none;
    background: transparent;
    border-radius: 50%;
    &:hover {
      background: #216ba5;
      color: white;
    }
  }
}

.vtc_control {
  .vtc_co_tags_arr {
    flex: 1 1 auto;
    width: 100%;
    .react-tags-wrapper {
      box-shadow: inset -2px -2px 5px #ffffff96, inset 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
      background: transparent !important;
      border-radius: 12px !important;
      border: solid 3px transparent !important;
    }
    .ReactTags__selected {
      padding: .375rem .75rem;
    }

    .ReactTags__tagInputField {
      height: auto;
      display: inline-block;
      font-weight: 400;
      //height: calc(1.5em + .75rem + 2px);
      //padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      margin: 0 2px;
    }

  }
}
.vtc_co_input_filter {
  .vtc_co_tags_arr {
    flex: 1 1 auto;
    border: solid 1px;
    background: white;
    overflow: auto;
    .ReactTags__tagInputField {
      padding: .375rem 2px;
    }
  }
}

.vtc_co_input {
  display: flex;
  flex-direction: row;
}

.cool_mf_btns_panel {
  display: flex;
  flex-direction: row;
  margin: 8px;
  padding-top: 4px;
  flex: 0 0 auto;
}
.cool_mf_btn {
  flex: 1 1 auto;
  margin: 4px;
}
.cool_mf_wrapper_controls {
  flex: 1 1 auto;
  overflow: auto;
}

.vtc_co_select_obj {
  width: 100%;
  .react-select__placeholder {
    font-size: 1rem!important;
    font-weight: 400!important;
  }
}
.vtc_control {
  .vtc_co_select_obj {
    .react-select__value-container {
      padding: .375rem .75rem!important;
    }
  }
}
.vtc_btn_arr {
  width: 58px!important;
  height: 40px!important;
  flex: 0 0 auto;
}


.vts_switch_co {
  display: flex;
  flex-direction: row;
  align-items: center;
  .vts_switch_span {
    padding: 0 4px;
  }
}

.vtc_control .vtc_co_tags_datetime_arr {
  flex: 1 1 auto;
  width: 100%;

  box-shadow: inset -2px -2px 5px #ffffff96, inset 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
  background: transparent !important;
  border-radius: 12px !important;
  border: solid 3px transparent !important;

  padding: .375rem .75rem;

  /*
  .react-tags-wrapper {
    box-shadow: inset -2px -2px 5px #ffffff96, inset 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
    background: transparent !important;
    border-radius: 12px !important;
    border: solid 3px transparent !important;
  }
  .ReactTags__selected {
    padding: .375rem .75rem;
  }
  */
  .ReactTags__tagInputField {
    display: none!important;
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 100%;
    font-weight: 400;
    //height: calc(1.5em + .75rem + 2px);
    //padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin: 0 2px;
  }
  .tag-wrapper.ReactTags__tag {
    opacity: 1;
    cursor: auto;
    background: #ebebeb;
    padding: 2px 0 2px 7px;
    border-radius: 10px;
    margin: 2px;
  }
  .ReactTags__remove {
    border: none;
    background: transparent;
    border-radius: 50%;
    &:hover {
      background: #216ba5;
      color: white;
    }
  }


  .react-datepicker-wrapper {
    width: 100% !important;
  }
  .date_control {
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin: 0 2px;
  }
}
.vtc_co_input_filter .vtc_co_tags_datetime_arr {
  flex: 1 1 auto;
  width: 100%;
  border: solid 1px;
  background: white;
  overflow: auto;
  border: solid 1px;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;

  .ReactTags__tagInputField {
    display: none!important;
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin: 0 2px;
  }
  .tag-wrapper.ReactTags__tag {
    opacity: 1;
    cursor: auto;
    background: #ebebeb;
    padding: 2px 0 2px 7px;
    border-radius: 10px;
    margin: 2px;
  }
  .ReactTags__remove {
    border: none;
    background: transparent;
    border-radius: 50%;
    &:hover {
      background: #216ba5;
      color: white;
    }
  }


  .react-datepicker-wrapper {
    width: 100% !important;
  }
  .date_control {
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin: 0 2px;
  }
}