@font-face {
    font-family: 'montserratbold';
    src: url('/assets/fonts/montserat-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/montserat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-bolduploaded_file';
    src: url('/assets/fonts/gilroy-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-heavyuploaded_file';
    src: url('/assets/fonts/gilroy-heavy-webfont.woff2') format('woff2'),
    url('/assets/fonts/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-lightuploaded_file';
    src: url('/assets/fonts/gilroy-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-mediumuploaded_file';
    src: url('/assets/fonts/gilroy-medium-webfont.woff2') format('woff2'),
    url('/assets/fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-regularuploaded_file';
    src: url('/assets/fonts/gilroy-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-lightuploaded_file';
    src: url('/assets/fonts/roboto-light.woff2') format('woff2'),
    url('/assets/fonts/roboto-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-regularuploaded_file';
    src: url('/assets/fonts/roboto-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    color: #646c9a;

    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    fill: #000;
}

.zt_img_logo_min {
	image-rendering: -webkit-optimize-contrast;
}
