@use "~sass-themify/sass-themify" as *;

.nf_btn, .nf_btn-ellipse {
  font-size: 1rem;

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  padding: .375rem .75rem;
  line-height: 1.5;


  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;

  border: none;
  background: transparent;
  box-shadow: -2px -2px 5px rgba(255,255,255,0.431373), 3px 3px 5px rgba(0,0,0,0.1);

  &:focus, &.active {
    outline: 0;
    background-color: #ffffff73;
  }
  &.active {
    border: solid #216ba5;
  }
  &:hover {
    color: #5d78ff;
    background-color: #ffffff73;
  }
  &:active {
    box-shadow: inset -2px -2px 5px rgba(255,255,255,0.588235),inset 3px 3px 5px rgba(0,0,0,0.1) !important;
  }
}

.nf_btn-ellipse {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

@include sass-themify() {
  /*
  #root {
    background-color: sass-themify-get-color('root-background-color');
  }
  */
};