@use "~sass-themify/sass-themify" as *;
@use '../master/FilterSidebar';
@use '../../tmp';

.calc-sidebar {
    @include FilterSidebar.sidebar-wrap-wrap();

    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 6px;
    padding-right: 6px;
    transition: all .3s ease 0s;
}

.hide-calc-sidebar {
    width: 0;
    padding: 0;
}

.calc-toolbar {
	@include tmp.toolbar();

	margin-top: 4px;

	.calc-toolbar-btn {
	    @include tmp.toolbar-button();
	}
}

.calc-toolbar-btn {
    @include tmp.toolbar-button();

    height: 25px;
    width: 25px;
}

.calc-sidebar-functions {
    padding-top: 5px;
    overflow-y: auto;
    height: calc(100% - 42px);
    .calc-sidebar-functions-category {
        margin-bottom: 8px;
        box-shadow: 2px 4px 4px 0 rgb(0 0 0 / 20%), -2px -4px 4px 0 rgb(255 255 255 / 50%);
        .calc-sidebar-functions-category-label {
            text-align: center;
            margin-bottom: 3px;
            cursor: pointer;
            position: relative;
            .calc-sidebar-functions-category-label-icon {
                position: absolute;
                left: 6px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .calc-sidebar-functions-category-functions {
            margin-left: 3px;
            margin-right: 3px;
            max-height: 200%;
            transform: translateZ(0);
            transition: max-height .3s ease 0s;
            .calc-function-btn {
                transition: height .3s ease 0s;
            }
        }
    }
    .hide-calc-sidebar-functions-category {
        .calc-sidebar-functions-category-functions {
            max-height: 0;
            .calc-function-btn {
                height: 0;
                padding: 0;
                margin: 0;
                border: none;
            }
        }
        .calc-sidebar-functions-category-label {
            border: none!important;
            margin-bottom: 0!important;
        }
    }
}

.calc-function-btn {
    @include tmp.toolbar-button();

    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 4px!important;
}

.calc-toolbar-search {
	@include tmp.toolbar-search();
}

@include sass-themify() {
    .calc-sidebar {
        background-color: sass-themify-get-color("MenuSidebar_wrap-background-color");
        color: sass-themify-get-color("MenuSidebar_wrap-color");
    }
    .calc-sidebar-functions {
        .calc-sidebar-functions-category {
            background-color: sass-themify-get-color("root-background-color");
            .calc-sidebar-functions-category-label {
                border-bottom-color: sass-themify-get-color("MenuSidebar_wrap-background-color");
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
        }
    }
};