<html lang="en" >
    <head>
      <meta charset="utf-8"/>
      <title>DZETA Calc</title>
      <meta name="description" content="Login">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/plugins/fontawesome-free-5.12.1/css/all.min.css">
      <link rel="shortcut icon" href="/assets/media/favicon.ico" />
    </head>
    <body  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading"  >
      <div id='root' class="kt-grid kt-grid--ver kt-grid--root" style='height:100%'>
      </div>
  </body>
  <script src="../js/calc.js?<?php echo time();?>" type="text/javascript"></script>
</html>
