.zt_window_cloth {
  height: 100%;
  width: 100%;
}
.cof_panel {
  padding: 8px;
}
.zt_root_form {

}
.zt_window_cloth {
}
.zt_form_content {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  overflow: hidden;
  background-color: white;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.zt_form_tabs_bar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
.zt_co_form {
  flex: 1 1 auto;
  overflow: auto;
}
.zt_co_tables {
  flex: 1 1 auto;
  overflow: auto;
}
.zt_form {
  padding: 0px 8px;
}



.Obj_HelperModal {
  .modal-body {
    overflow: auto;
    max-height: calc(100vh - 224px);
  }
}
