:global {

  .cool_calendar_view{
    display: flex;
    flex-direction: column;
    height: 100%;


    .cool_calendar_tollbar{

      .hzt_ProductNav_Contents{
        display: flex;
        align-items: center;

        .react-datepicker__input-container input{
          display: inline-block;
          vertical-align: middle;
          padding: 6px 12px;
          border: solid 1px #cccccc;
          border-image: initial;
          border-radius: 4px;
          transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
          height: 26px;
          width: 100px;
          text-align: center;
        }
      }

      .react-datepicker-popper{
        z-index: 100;
      }

      .switch_btn_group{
        color: #28333f;
        height: 26px;
        font-size: 11px;
        border-radius: 2px;
        border: solid 1px #cccccc;
        box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 18%);

        button{
          padding: 0px 15px;
          background: white;
          border: none;
          height: 100%;
        }
        button.selected{
          color: white;
          background-color: #05c0fa;
        }
      }
      .user_select{
        width: 240px;
        margin-left: 5px;
      }
    }
    .cool_calendar_wrapper{
      flex:1;
      overflow: auto;
      display: flex;

      .calendar_cont{
        flex: 1;

        >div{
          box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
          background: #fff;
          border-top: 4px solid #05c0fa;
          height: 100%;
        }
        .event_cont {

          display: flex;
          align-items: center;

          .event_title{
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: move;
          }
          button {
            padding: 0px 5px;
            font-size: 12px;
            color: inherit;
          }
        }
        .fc-daygrid-day-number{
          color: rgb(93, 110, 116);
          font-weight: bold;
        }
      }
      .tasks_cont{
        padding: 4px 20px 0px;
        display: flex;


        .tasks_cont_wrapper{
          box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
          background: #fbfbfb;
          height: 100%;
          border: 1px solid #dddddd;
          flex: 1;
          margin-left: 5px;
          display: flex;
          flex-direction: column;
          padding: 5px;
          min-width: 50%;



          .title_list{
            margin-bottom: 10px;
            text-align: center;
            font-size: 22px;
          }
          .search_list{
            margin-bottom: 10px;
          }
          .task_list{
            flex:1;
            overflow: auto;
            .task_item.empty_task{
              border-style: dashed;
              border-width: 3px;
            }
          }
          .task_item{
            width: 100%;
            height: 66px;
            margin-bottom: 10px;
            background-color: white;
            border: 1px solid #05c0fa;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            display: flex;
            color: #5d6e74;
            cursor: move;
            border-left-width: 5px;
            border-radius: 3px;

            .text{
              flex: 1;
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: bold;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              padding: 0px 5px 0px 12px;
            }
            .date{
              padding: 10px 5px 5px 5px;
            }
          }
        }
        .tasks_cont_wrapper.hover_list *{
          pointer-events: none;
        }
      }
      .tasks_cont.audit_task{
        width: 40%;
        max-width: 400px;
      }
      .tasks_cont.manager_task{
        max-width: 640px;
        width: 40%;
        min-width: 400px;
      }


    }


  }

  .fc-daygrid-event{
    font-size: 14px;
    padding: 5px;
    border-left-width: 5px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  }

  @media(max-width: 565px){
    .cool_calendar_wrapper{
      .task_list{
        zoom:0.8;
      }
    }
  }
  @media (max-width: 800px){
    .cool_calendar_wrapper{
      flex-direction: column;

      .tasks_cont.audit_task{
        width: 100%!important;
        max-width: none!important;
        padding: 20px 5px!important;
        min-height: 50%;
      }
      .calendar_cont{
        min-height: 50%;
      }

    }
  }
  @media (max-width: 1050px){
    .cool_calendar_wrapper.manager_cal_wrapper{
      flex-direction: column;

      .tasks_cont.manager_task{
        width: 100%!important;
        max-width: none!important;
        padding: 20px 5px!important;
        min-height: 50%;
      }
      .calendar_cont{
        min-height: 50%;
      }

    }
  }
}
