:global {
  .camera_module{
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:2000;
    background-color:black;

    .camera_module_devices {
      position: absolute;
      z-index: 10;

      select{
        color: white;
        background-color: black;
        border:none;
      }
    }
    .camera_module_ctrl {
      position: absolute;
      display: flex;
      border-radius: 40px;
      background-color: rgba(0,0,0,0.8);
      z-index: 10;

      .close_btn {
        border-radius: 50%;
        background: none;
        color:white;
        border: none;
        font-size: 20px;
      }
      .flash_btn {
        border-radius: 50%;
        background: none;
        color:white;
        border: none;
        font-size: 20px;

        i.bolt {
          position: relative;
        }
        i.off {
          position:absolute;
          top:0px;
          left:-7px;
        }
      }
      .save_btn{
        border-radius: 50%;
        background: none;
        color:white;
        border: 6px solid white;
        width: 60px;
        height: 60px;
        box-shadow: none;
        padding: 2px;

        span {
          width: 100%;
          height: 100%;
          background-color: white;
          display: inline-block;
          border-radius: 50%;
        }
      }

      .close_btn:focus, .flash_btn:focus, .save_btn:focus{
        outline: none!important;
      }
    }
    .camera_module_video{
      width: 100%;
      height: 100%;

      video{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }

  @media (orientation: landscape) {
    .camera_module {
        .camera_module_devices{
          top:10px;
          left: 20px;
        }
        .camera_module_ctrl{
          padding: 45px 7px;
          right: 30px;
          top: calc(50% - 125px);
          flex-direction: column;
          .close_btn{
            margin-bottom: 25px;
          }
          .flash_btn {
            margin-top: 25px;
          }
        }
    }
  }

  @media (orientation: portrait) {

    .camera_module {
        .camera_module_devices{
          top:10px;
          right: 20px;
        }
        .camera_module_ctrl{
          padding: 7px 45px;
          bottom: 30px;
          left: calc(50% - 125px);
          .close_btn{
            margin-right: 25px;
          }
          .flash_btn {
            margin-left: 25px;
          }
        }
    }
  }
}
