.rt_tab_ul {
  list-style: none;
  border: none;
  margin: 0;
  padding-left: 0px;
  content: " ";
  display: table;
  width: 100%;
}
.rt_tab_li {
  display: block;
  float: left;
  &.rt_tab_active>.rt_tab_1 {
    margin-top: 0px;
    padding-top: 8px;
    border-top: 4px solid #5d78ff!important;
    margin-bottom: 0px;
    border-bottom: none;
  }
}

.rt_tab_1 {
  display: inline-block;
  /*border-top: 4px solid #ccc;*/
  background: transparent;
  box-shadow: none;
  font-size: 12px;
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  user-select: none;
  font-weight: 600;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin-top: 3px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 8px 14px 8px;


  &:hover {
    background-color: #e6e6e6;
    margin-top: 0px;
    padding-top: 8px;
    border-top-width: 4px;
    border-color: #adadad;
    text-decoration: none;
  }
  &.rt_tab_has_close_btn:not(.rt_tab_dropdown) {
    padding-right: 20px;
  }
  &:not(.rt_tab_dropdown) {
    overflow: hidden;
  }
}


.rt_tab_dropdown {
  position: relative;
  &>.rt_tab_dropdown_ul {
    display: none;
  }
  &.open>.rt_tab_dropdown_ul {
    display: block;
  }
}
.rt_tab_dropdown_a {
  display: block;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;


}
.rt_tab_dropdown_ul {
  padding-left: 0px;
  position: absolute;
  right: 0px;
  list-style: none;
  z-index: 1;
  background-color: white;
  .rt_tab_li.rt_tab_active>.rt_tab_1 {
    border-bottom: 1px solid #ccc!important;
  }
  &>.rt_tab_li{
    display: list-item;
    font-size: 0px; /*Убираем инлайновые отступы*/
    width: 100%;
  }
  &>.rt_tab_li>.rt_tab_1{
    width: 100%;
  }


}

.rt_tab_close_btn {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 3px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #8a8a8a;
  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}