.fxs-display-none {
  display: none!important;
}
.fxc-gc-text {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: relative;
}



.cool_t_wrapper_main {
  height: 100%;
  width: 100%;
  line-height: normal;
  position: relative;
  box-sizing: border-box;
}
.cool_t_scroll_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;

  padding: 0px 10px 0 10px;
}
.cool_t_table_wrapper {
  flex: 1 1 auto;
  height: 100%;
  min-height: 0px;
  margin-left: 15px;
}
.cool_t_page_wrapper {
  display: flex;
  margin: 20px 15px;
}

.cool_t_gc_area_wrapper {
  flex: 1 1 auto;
  min-height: 0px;
  //margin-left: 15px;
  height: 100%;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.4), 3px 3px 5px rgba(0,0,0,0.1);

  overflow-x: hidden;
  overflow-y: hidden;
}
.cool_t_info {
  display: flex;
  margin: 20px 15px;
}
.cool_t_gc_area {
  //width: scripting
  flex: 1 1 auto;
  height: 100%;
  min-height: 0;
}

.cool_t_gc_loading {
  box-sizing: border-box;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 66px;
  max-height: 300px;
  z-index: 1;
}
.cool_t_gc_loading_co_neom {
  border-radius: 50px;
  background: #e0e0e0;
  height: 50px;
  font-size: 14px;
  text-align: center;
  color: #5b5c63;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.431373), 3px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: wait;
}

.cool_t_gc_footer {

}

.cool_t_gc_content {
  flex: 1 1 auto;
  height: 100%;
  min-height: 0;
}

.cool_t_gc_table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.cool_t_gc_thead {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
}
.cool_t_gc_tbody {
  transform: translate3d(0,0,0);
  position: relative;
  overflow-x: auto;
  flex: 1 1 auto;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.cool_t_gc_tfooter {
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
}

.cool_t_gc_table_fixed {
  .cool_t_gc_thead {
    overflow-y: hidden;
  }
  .cool_t_gc_tbody {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .cool_t_gc_tfooter {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.cool_t_gc_thead_row {
  box-sizing: border-box;
  /*
  border-bottom-width: 1px;
  border-bottom-style: solid;
  */
  display: flex;
  align-items: center;
  border-color: #edebe9;

  //width: script calculated

  .cool_t_th {
    position: relative;
    cursor: pointer;
    max-height: 200px;
    display: flex;
    box-sizing: border-box;
    flex: 0 0 auto;
    font-weight: 600;
    min-height: 26px;
    align-items: stretch;
    border-bottom: 1px solid transparent;

    //width: script calculated
    .cool_t_th_content {
      &.centered {
        justify-content: center;
      }
      //margin: 0 4px;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0px;
      padding: 0 4px;
      display: flex;
      overflow: hidden;
      box-sizing: border-box;
      //flex: 1 1 auto;
      max-height: inherit;
      align-items: center;

      .cool_t_th_aftercontent {
        vertical-align: bottom;
        height: 19px;
        padding: 2px 2px 2px 8px;
        box-sizing: border-box;

        .fxc-gc-sorting-sortImage {
          display: inline-block;
          width: 16px;
          height: 16px;
          font-size: 100%;
          font-weight: inherit;
        }
      }
    }
    .cool_t_th_right_margin {
      //Это там будет растяжитель
      display: flex;
      box-sizing: border-box;
      flex: 0 0 auto;
      align-items: center;
      height: 100%;
      right: 0px;
      position: absolute;
      bottom: 0px;

      .cool_t_th-resizing-anchor {
        height: 100%;
        top: 0px;
        width: 0px;
        position: relative;
        box-sizing: border-box;
        flex: 0 0 auto;
        .cool_t_th-resizing-handle {
          z-index: 3;
          height: 100%;
          .cool_t_th-resizing-handleLine{
            height: 100%;
          }
        }
      }
    }
    &:focus {
      outline-style: solid;
      outline-color: #605e5c;
      outline-offset: -1px;
    }


    &.rowspan-2 {
      .cool_t_th_content {
        height: 26px!important;
      }
      .cool_t_th_right_margin {
        height: 52px!important;
      }
    }
    &.cool_t_th.merge_space {
      border-bottom-color: transparent;
    }
  }

  &:hover {
    .cool_t_th-resizing-handle {
      cursor: col-resize;
      position: absolute;
      left: -4px;
      .cool_t_th-resizing-handleLine{
        box-sizing: border-box;
        width: 1px;
        border-width: 0 1px 0 0;
        border-style: solid;
        height: 36px;
        margin: 0 3px;
        border-color: #ccc;
        cursor: col-resize;
      }
    }
  }
}
.cool_t_gc_tbody_rows, .cool_t_gc_tbody_rows_fixed {
  min-height: 31px;
  //width: calculated;
  position: relative;
  position: absolute;
  z-index: 1;
}
.cool_t_gc_k_div, .cool_t_gc_k_div_fixed {
  position: relative;
  min-height: 30px;
}

.cool_t_tr {
  min-height: 31px;
  box-sizing: border-box;

  border-color: #f3f2f1;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  display: flex;
  align-items: stretch;

  .cool_t_td {
    min-height: 31px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    //margin: 0 4px;
    overflow: hidden;
    //width: calculated;
    //max-height: 31px;
    height: auto;
    .cool_t_td_content {
      margin: 0 4px;
      width: 100%;
    }
  }

  &:hover {
    background-color: #f3f2f1;
  }
  &.cool_t_selected {
    background-color: #edebe9;
  }
}
.cool_t_border_table {
  .cool_t_gc_thead_row {
    .cool_t_th {
      border-bottom: 1px solid #ccc;
    }
    .cool_t_th:first-of-type {
      border-left: 1px solid #ccc;
    }
    .cool_t_th-resizing-handle {
      cursor: col-resize;
      position: absolute;
      left: -4px;
      .cool_t_th-resizing-handleLine{
        box-sizing: border-box;
        width: 1px;
        border-width: 0 1px 0 0;
        border-style: solid;
        height: 36px;
        margin: 0 3px;
        border-color: #ccc;
        cursor: col-resize;
      }
    }
  }
  .cool_t_tr {
    border: none;
    .cool_t_td {
      &:first-of-type {
        border-left: 1px solid #ccc;
      }
      border: 1px solid #ccc;
      border-bottom-width: 0;
      border-left: 0;
    }
  }
  .cool_t_tr:last-of-type {
    border-bottom: 1px solid #ccc;
  }
}


.cool_t_gc_tbody_nodata {
  min-height: 31px;
  border-color: #ccc;
  box-sizing: border-box;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.cool_t_gc_tbody_nodata_message {
  box-sizing: border-box;
  margin: 4px 8px;
}



.cool_t_gc_table_fixed {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;

  border-right: solid 1px #cdcdcd;
}


//RESIZING
.cool_t_gc_table {
  .fxc-grid-resizing-line {
    border-color: #ccc;
    position: absolute;
    box-sizing: border-box;
    width: 1px;
    border-width: 0 1px 0 0;
    border-style: solid;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: col-resize;
  }
}
//SORTING
.cool_t-asc,.cool_t-desc  {
  opacity: .25;
}
.sorting_DESC {
  .cool_t-desc {
    opacity: 1;
  }
}
.sorting_ASC {
  .cool_t-asc {
    opacity: 1;
  }
}

//Row selected, focused ...
.cool_t_tr:focus, .cool_t_tr:active {
  outline-style: solid;
  outline-color: #605e5c;
}
.cool_t_tr:hover {
  background-color: #f3f2f1;
}
.cool_t_tr_selected {
  background-color: #edebe9;
  outline-style: solid;
  outline-color: #605e5c;
}
.cool_t_tr_selected:hover {
  background-color: #e1dfdd;
}


.cool_t_count_rows {
}


.none-td {
  color: transparent!important;
  border-top-width: 1px!important;
  border-top-color: transparent!important;
  .cool_t_td_content {
    display: none;
  }
}
.noneTR {
  display: none;
}

@include sass-themify() {
  .cool_t_tr_selected {
    outline-color: sass-themify-get-color("cool_t_tr_selected-outline-color");
    background-color: sass-themify-get-color("cool_t_tr_selected-background-color");
  }
  .cool_t_tr_selected:hover {
    background-color: sass-themify-get-color("cool_t_tr_selected-background-color-hover");
  }

  .cool_t_gc_tbody::-webkit-scrollbar, .cool_t_gc_thead::-webkit-scrollbar, .cool_t_gc_tfooter::-webkit-scrollbar  {
    height: sass-themify-get-color("cool_t_gc_tbody-webkit-scrollbar-height");
    width: sass-themify-get-color("cool_t_gc_tbody-webkit-scrollbar-width");
    background-color: sass-themify-get-color('cool_t_gc_tbody-webkit-scrollbar-background-color');
  }
  .cool_t_gc_tbody::-webkit-scrollbar-thumb, .cool_t_gc_thead::-webkit-scrollbar-thumb, .cool_t_gc_tfooter::-webkit-scrollbar-thumb {
    background: sass-themify-get-color('cool_t_gc_tbody-webkit-scrollbar-thumb-background');
  }
}