.TypeTreeCM_wrap {
  background: #f5f5f5;
  display: block;
  z-index: 100;
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.2), -3px -3px 10px 0px rgba(255, 255, 255, 0.5);


  /*
  overflow: auto;
  max-height: 600px;
  */
}
.TypeTreeCM_ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
}
.TypeTreeCM_li {
  display: block;
  position: relative;
}
.TypeTreeCM_a {
  position: relative;
  display: block;
  padding: 0 2em;
  text-decoration: none;
  width: auto;
  color: #000;
  white-space: nowrap;
  line-height: 2.4em;
  text-shadow: 1px 1px 0 #fff;
  border-radius: 1px;
  cursor: pointer;

  max-width: 260px;
  text-overflow: ellipsis;
  overflow: hidden;
}


.TypeTreeCM_children_span {
  display: block;
  position: absolute;
  right: 10px;
  top: 0px;
}
.TypeTreeCM_separator>a {
  background: #fff;
  border: 0;
  border-top: 1px solid #e2e3e3;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  padding: 0;
  margin: 0px;
  border-left: 1px solid #e0e0e0;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
}
.TypeTreeCM_a_separator {
  display: inline-block;
  width: 1px;
  height: 2.4em;
  background: #fff;
  margin: 0 .5em 0 0;
  border-left: 1px solid #e2e3e3;
}
.TypeTreeCM_a_i {
  line-height: 2.4em!important;
  width: 2.4em!important;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  background: 0 0;
  margin: 0 0 0 -2em;
  vertical-align: top;
  text-align: center;
  color: #929292;
}
.TypeTreeCM_wrap .TypeTreeCM_li .TypeTreeCM_ul {
  display: none;
  position: absolute;
  top: -50px;
  left: 100%;
  background: #ebebeb;
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.2), -3px -3px 10px 0px rgba(255, 255, 255, 0.5);
}

.TypeTreeCM_wrap .TypeTreeCM_li.TypeTreeCM_a_left_ul .TypeTreeCM_ul {
  right: 100%;
  left: auto;
}


.TypeTreeCM_a:hover {
  background-color: #e8eff7;
  box-shadow: 0 0 2px #0a6aa1;
  text-decoration: none;
}
.TypeTreeCM_co_sub.hover_TypeTreeCM_li>.TypeTreeCM_a{
  background-color: #e8eff7;
  box-shadow: 0 0 2px #0a6aa1;
  text-decoration: none;
}
.TypeTreeCM_wrap .TypeTreeCM_li.hover_TypeTreeCM_li>.TypeTreeCM_ul {
  display: block;
}

.TypeTreeCM_a.disabled_a {
  color: #a7a7a7!important;
  background: #a5a5a526;
  text-shadow: none;
  cursor: not-allowed;
}