.hzt_buttons {

}

.hzt_ProductNav_Wrapper {
  position: relative;
  padding: 0 11px;
  box-sizing: border-box;
}
.hzt_ProductNav {
  overflow-x: scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  position: relative;

  -ms-overflow-style: none;
  scrollbar-width: none; /*moz*/
}
.hzt_ProductNav::-webkit-scrollbar {
  display: none;
}

.hzt_ProductNav_Contents {
  transform: none;
  transition: none;
  float: left;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  position: relative;
}
.hzt_ProductNav_Contents-no-transition {
  transition: none;
}
.hzt_ProductNav_Link {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-size: 11px;
  padding: 6px 18px;
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  user-select: none;
  font-weight: 600;
  /* text-transform: uppercase; */
  box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
  /* outline: 0!important; */
  /* line-height: 1.5; */
  color: #333;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: solid 2px #e8e8e8;
  white-space: nowrap;
  outline: none;

  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26);
    color: #333;
    border-color: #adadad;
  }
  &.active {
    background-color: transparent!important;
    border-bottom: transparent;
    box-shadow: none;
    border: none;
  }
}
.hzt_Advancer_Left {
  left: 0;
}
.hzt_Advancer_Right {
  right: 0;
}
.data-overflowing_both ~ .hzt_Advancer_Left, .data-overflowing_left ~ .hzt_Advancer_Left {
  opacity: 1;
}
.data-overflowing_both ~ .hzt_Advancer_Right, .data-overflowing_right ~ .hzt_Advancer_Right {
  opacity: 1;
}
.hzt_Advancer {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity .3s;
  z-index: 5;
  height: 32px;
}
.hzt_Advancer:focus {
  outline: 0;
}
.hzt_Advancer:hover {
  cursor: pointer;
}

.hzt_Advancer_Icon {
  width: 20px;
  height: 32px;
  fill: #bbb;
}