:global {

  .TableApp{
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
  .TableApp__header{

  }
  .TableApp__header .header__item{
    border-bottom: 1px solid #757575;
    border-right: 1px solid #757575;
    padding: 5px 8px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    background-color: #dbdbdb;
  }

  .TableApp__body{
    flex: 1;
    display: flex;
    overflow: auto;
  }
  .body__column  {
    position: relative;
  }
  .body__column__item{
    border-bottom: 1px solid #757575;
    border-right: 1px solid #757575;
    padding: 5px 8px;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span.isNewParam{
    font-size: 12px;
    right: 5px;
    position: absolute;
    color: green;
    z-index: 5;
  }

  .nameparam_select{
    position: relative;
  }

  .context_param{
    width: 200px;
    height: auto;
    position: fixed;
    background-color: white;
    z-index: 10;
    background-color: white;
    list-style: none;
    padding: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22)!important;
    overflow: auto;
  }

  .nameparam_select li{
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
  }
  .nameparam_select li:hover{
    background-color: #f6f6f6;
  }

.class_name{
    font-size: 11px;
    color: #686060;

    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    float:right;
  }

  .nameparam_select li span.param_name{
    flex:1;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
  }

  .classSelectCtrl{
    border-radius: 0px;
    position: relative;
    .remove_class_ctrl{
      position: absolute;
      right: 15px;
      cursor: pointer;
      color: #cccccc;
    }
    .remove_class_ctrl:hover{
      color:#a6a4a4,
    }
  }
  .classSelectCtrl.selected{
    outline: 3px solid #a6c7ff;
    outline-offset: -3px;
  }

  .filter, .width {
    display: flex;
  }

  .filter select{
    width: 55px;
    border-right: 1px solid #cccccc;
    border-radius: 0px;
    padding: 3px 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .width select{
    width: 55px;
    border-left: 1px solid #cccccc;
    border-radius: 0px;
    padding: 3px 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .filter input{
    flex: 1;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .width input{
    flex: 1;
    border-radius: 0px;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
