:global{
  #zt_AppPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .zt_window_cloth {
      flex: 1 1 auto;
      overflow: hidden;
    }
  }

  .label_center {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  div.disabled {
    opacity: 0.8;
    background: #d8e8e8!important;
  }

  .colorpick_ctrl{
    display: flex;
    > input{
      flex:1;
      border-right: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    > span{
      height: 38px!important;
      width: 38px!important;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  .iconfile_ctrl {
    display: flex;

      .file_name {
        flex:1;
        padding:0px 10px;
        overflow: hidden;
        label {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
        }
      }
      .remove_btn {
          margin-left: 10px;
      }
  }

  .sort_view_ctrl {
    .sort_list_ctrl{
      >div {
        background-color:#fff!important;
        border: 1px solid #d7dbdb;
        div[data-rbd-draggable-id]{
          padding: 0px !important;
          margin-top: 0px !important;
          background-color: white!important;
          border: none!important;
          margin: 5px;
          box-shadow: none!important;
        }
      }
      .sort_view_item{
        display: flex;
        align-items: center;
        border: 1px solid #d7dbdb;
        border-radius: 5px;

        .drag_item{
          padding: 0px 15px;
        }
        .param_item {
          flex: 1;
          .param_value > div > div{
              border: none!important;
          }
        }
        .sort_order_item{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          min-width: 95px;
          .switch_label{
            margin-right: 5px;
          }
        }
        .remove_btn_item{
          button{
            font-size: 13px;
          }
        }
      }
    }
    .sort_add_param_ctrl{
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      align-items: center;

      .switch_label{
        margin-right: 5px;
      }
    }
  }

  .condition_value {
    .ReactTags__selected{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
    }
    .ReactTags__tagInput{
      flex: 1;
      min-width: 100px;

      input{
        border: 0;
        width: 100%;
      }
      input:focus{
          outline:none!important;
      }
    }
    .ReactTags__tag{
      font-size: 12px;
      background-color: hsl(0,0%,90%);
      border-radius: 2px;
      padding: 3px;
      margin: 3px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    .ReactTags__remove{
        font-weight: 800;
        border: 0px;
        background: none;
        font-size: 13px;
      }
    }
  }

  .app_perm_block {
    color: darkred;
  }
  .app_perm_allow {
    color: green;
  }
  .app_perm_interm {
    color: #c77b00;
  }

  .app_window_cloth {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .viewsett, .appsett{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 10px;
    overflow: hidden;
  }

  .prime_header {
    display: flex;
    align-items: center;
    .left{
      flex: 1;
    }
    .right{
      display: flex;
      align-items: center;
    }

  }

  //ctrlpanel
  .viewsett__ctrlpanel, .appsett__ctrlpanel {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    border-bottom: 1px solid #d7dbdb;
  }
  .ctrlpanel__info {
    flex:1;
    h3{
      display: inline-block;
      margin-right: 10px;

    i{
        color:#babdbe;
      }
    }
  .info__classes, .info__params{
      align-self: center;
      text-transform: uppercase;
      color: #9fa1a2;
      font-weight: 700;
      padding-right: 9px;
      margin-bottom: 0;
      font-size: 14px;

      .count{
        color: #000;
      }
    }
  }


  //workarea-params
  .viewsett__workarea, .appsett__workarea {
      display: flex;
      flex: 1;
      padding-bottom: 50px;
      overflow: hidden;

      .workarea__params{
        width: 280px;
        border-right: 1px solid #d7dbdb;
        padding: 10px 10px 0px 0px;
        display: flex;
        flex-direction: column;
        background-color: white;

        .params__classes {
          overflow: auto;
          flex: 1;
        }
        .params__addbtn {
          margin-bottom: 10px;
          margin-top: 8px;
          width: 100%;

          button {
            width:100%;
          }
        }
        .params__searchctrl label{
          width: 100%;
          display: flex;
          background: #f4f6f6;
          color: #babdbe;
          padding: 7px 10px;
          align-items: center;
          margin-bottom: 10px;

          input{
              border: none;
              background: #f4f6f6;
              color: #818487;
              flex-grow: 1;
              margin-left: 5px;
              font-weight: 600;
              font-size: 12px;
              padding-left: 10px;
          }
          input:focus{
            outline:none!important;
          }
        }
        .classes__classitem{
          font-family: Akzidenz,'Helvetica Neue',Helvetica,Arial,sans-serif;

          .classitem__name {
            display: flex;
            align-items: center;
            cursor: pointer;

            .name__arrow i{
              display: inline-block;
              color: #c3c3c3;
              cursor: pointer;
              font-size: 24px;
              margin-right: 5px;
            }
            .name__title{
              flex: 1;
              padding: 8px;
              font-weight: 600;
              font-size: 14px;
            }
            .name__actionbtn{
              visibility: hidden;
              a{
                color: #babdbe;
                font-size: 18px;
                margin-right: 5px;
              }
              a.plus:hover{
                color:#17a2b8!important;
              }
              a.remove:hover{
                  color:#dc3545!important;
              }
            }
          }
          .classitem__name:hover {
            .name__actionbtn{
              visibility: visible!important;
            }
          }

          .classitem__params{
            list-style: none;
            padding-left: 25px;

            .params__paramitem {
              display: flex;
              cursor:pointer;
              .paramitem__title{
                flex: 1;
                font-size: 14px;
                padding: 6px 24px 6px 20px;
                position: relative;
              }
              .paramitem__action{
                visibility: hidden;

                a{
                  color: #babdbe;
                  font-size: 18px;
                  margin-right: 5px;
                }
                a.remove:hover{
                    color:#dc3545!important;
                }
              }

            }
            .params__paramitem:hover{
              .paramitem__action{
                visibility: visible!important;
              }
            }
            .params__paramitem.selected {
              .paramitem__title{
                color:#5d78ff!important;
                border-left: 3px solid #5d78ff!important;
                font-weight:600;
              }
            }
          }


        }
        .classes__classitem.selected{
          .name__title{
            color:#5d78ff!important;
          }
        }
      }

      .workarea__settings{
        flex: 1;
        min-width: 200px;

        .width{
          display: flex;

          input{
            flex:1;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          select{
            width: 80px;
            border-left: none;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

          }
        }

        .cool_t_scroll_wrapper, .p-datatable-tbody {
          .isHide, .color, .view, .data_source{
            width: 100%;
            margin: 1px 0px;
          }
          .color > div > div, .view > div > div, .data_source > div > div, {
            border: none;
            border-radius: 0px;
          }
          .link_edit_td{
            width: 100%;
            align-items: center;
            cursor: pointer;
          }
          .filter select, .width select,  .width input, .filter input, .view select{
            border: none;
          }
          .filter select{
            border-right: 1px solid #cccccc;
          }
          .width select{
            border-left: 1px solid #cccccc;
          }
          .cool_t_gc_tbody{
            transform: none!important;
          }


          td.order_td{
            i{
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          //
          .p-selectable-row:hover .color >div >div, .p-selectable-row:hover .view> div > div, .p-selectable-row:hover .data_source> div > div {
              background-color: #e9ecef;
          }
          .p-selectable-row:hover .filter select, .p-selectable-row:hover .filter input {
              background-color: #e9ecef;
          }
          .p-datatable-dragpoint-bottom td{
            box-shadow: inset 0 -3px 0px 0px #68bfff!important;
          }
          .p-datatable-dragpoint-top td{
            box-shadow: inset 0px 3px 0px 0px #68bfff!important;
          }
          //selected
          .p-highlight .color >div >div, .p-highlight .view> div > div, .p-highlight .data_source> div > div {
              background-color: #e3f2fd!important;
          }
          .p-highlight .filter select, .p-highlight .filter input {
              background-color: #e3f2fd!important;
          }
        }


        //dataTable
        .p-datatable{
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      .p-datatable-scrollable-wrapper{
                        flex: 1;
                        overflow: auto;
                        .p-datatable-scrollable-view {
                          height: 100%;
                          display: flex;
                          flex-direction: column;

                          th {
                            background: #ffffff;
                            border-right: 1px solid #ccc;
                            padding: 5px 1rem;
                          }

                          .p-datatable-scrollable-body{
                            flex: 1;
                            max-height: none!important;
                          //  transform: translate3d(0,0,0);

                            td{
                              padding: 0px!important;
                              border: 1px solid #ccc;
                              border-bottom-width: 0;
                              border-left: 0;
                              height: 40px;
                              vertical-align: middle;

                              .table_text{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding: 0px 5px;
                                font-size: 13px;
                                display: inline-block;
                              }
                            }
                          }
                        }
                      }
                    }

        //viewtable
        .viewtable{
          display: flex;
          flex-direction: column;
          height: 100%;
          .viewtable__tabs {
            list-style: none;
            padding-left: 20px;
            display: flex;
            margin-bottom: 0px;
            border-bottom: 1px solid #d7dbdb;

            .tabs__item {
              padding: 6px 25px;
              cursor: pointer;
              font-size: 14px;
              font-weight: 700;
              color: #9fa1a2;

            }
            .tabs__item.selected{
              color: #5d78ff !important;
              border-bottom: 2px solid #5d78ff;
            }
          }
          .viewtable__body {
            padding: 15px;
            flex: 1;
            overflow: auto;

            .table{
              background-color: white;
            }
            .viewdatasettings{

              .viewdatasettings__seacrh {
                label{
                  width: 100%;
                  display: flex;
                  background: #ffffff;
                  color: #babdbe;
                  padding: 7px 10px;
                  align-items: center;
                  margin-bottom: 10px;
                  height: 50px;
                  border: 1px solid #d7dbdb;
                  font-size: 16px;
                }
                input{
                  border: none;
                  background: #ffffff;
                  color: #818487;
                  flex-grow: 1;
                  margin-left: 5px;
                  font-weight: 600;
                  font-size: 12px;
                  padding-left: 10px;
                  height: 100%;
                }
                input:focus{
                  outline:none!important;
                }
              }
              .viewdatasettings__info {
                padding: 10px 0px;

                .info__sett{
                  align-self: center;
                  text-transform: uppercase;
                  color: #9fa1a2;
                  font-weight: 700;
                  padding-right: 9px;
                  margin-bottom: 0;
                  font-size: 14px;
                }
                .count{
                  color:#000;
                }
              }
              .viewdatasettings__tabs {
                list-style: none;
                padding-left: 20px;
                display: flex;
                margin-bottom: 10px;
                border-bottom: 1px solid #d7dbdb;

                .tabs__item{
                  padding: 6px 25px;
                  cursor: pointer;
                  font-size: 14px;
                  font-weight: 700;
                  color: #9fa1a2;
                }
                .tabs__item.selected{
                  color: #17a2b8!important;
                  border-bottom: 2px solid #17a2b8;
                }
              }
              .settings {

                .settings__setcont {
                  padding: 1.5rem;
                  background-color: white;
                  border: 1px solid #d7dbdb;
                  margin-bottom: 10px;

                  label{
                    font-weight: 500;
                    font-size: 16px;
                  }
                }
              }
            }
            .viewfilters{
              .viewfilters__tabs {
                list-style: none;
                padding-left: 20px;
                display: flex;
                margin-bottom: 10px;
                border-bottom: 1px solid #d7dbdb;

                .tabs__item{
                  padding: 6px 25px;
                  cursor: pointer;
                  font-size: 14px;
                  font-weight: 700;
                  color: #9fa1a2;
                }
                .tabs__item.selected{
                  color: #17a2b8!important;
                  border-bottom: 2px solid #17a2b8;
                }
              }
              .viewfilters__body{

                  .root_filter_block{
                  }
                  .filter_block{
                    padding: 5px 10px;
                    border: 2px solid #9898fa;
                    margin: 5px 0px;
                  }
                  .filter_block_btn{
                    display: flex;
                    justify-content: flex-end;
                    margin: 5px 0px;

                    button{
                      margin-right: 5px;
                    }
                  }
                  .select_operator{
                    width: 85px;
                    border-radius: 0px;
                    margin: 5px 0px;
                  }
                  .condition_data{
                    .filter_item{
                      display: flex;

                      .param_value, .condition_value{
                        flex:1;
                        min-width: 100px;
                      }
                      .condition_value input{
                        border-radius: 0px;
                        border-left: 0px;
                      }
                      .btn_remove_condition{
                        width: 38px;
                        height: 38px;
                        border-radius: 0px;
                        border: none;
                      }
                      .select_operation{
                        width: 100px;
                        border-radius: 0px;
                      }
                      .param_value  >div >div{
                        border-radius: 0px;
                        border-right: 0px;
                      }
                      .condition_value  >div >div{
                        border-radius: 0px;
                        border-left: 0px;
                      }
                    }
                  }
                  .single_mode_data {
                    .btn_remove_condition{
                      width: 38px;
                      height: 38px;
                      border-radius: 0px;
                      border: none;
                    }
                    select.condition{
                      flex:1,
                    }
                  }

                  .settings__setcont {
                    padding: 1.5rem;
                    background-color: white;
                    border: 1px solid #d7dbdb;
                    margin-bottom: 10px;

                    label{
                      font-weight: 500;
                      font-size: 16px;
                    }
                  }
                  .switch_cont{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    span.switch_label{
                      margin-right: 10px;
                      font-size: 16px;
                    }
                  }

              }
            }
            .viewcharts{
              .viewcharts__body{
                .settings__setcont {
                  padding: 1.5rem;
                  background-color: white;
                  border: 1px solid #d7dbdb;
                  margin-bottom: 10px;

                  label{
                    font-weight: 500;
                    font-size: 16px;
                  }
                }
                .chartctrl_btn{
                  display: flex;
                  justify-content: flex-end;
                  margin: 5px 0px;
                }

                .chart_item {
                  display: flex;
                  margin-bottom: 10px;
                  .chart_select_ctrl{
                    flex:1;

                    div > div {
                      border-top-right-radius: 0px;
                      border-bottom-right-radius: 0px;
                    }
                  }
                  button{
                    width: 38px;
                    height: 38px;
                    border-radius: 0px;
                    border: none;
                  }
                }
              }
            }
            .viewcalcblock{
              .viewcalcblock__body{
                .settings__setcont {
                  padding: 1.5rem;
                  background-color: white;
                  border: 1px solid #d7dbdb;
                  margin-bottom: 10px;

                  label{
                    font-weight: 500;
                    font-size: 16px;
                  }
                }
                .calcblockctrl_btn{
                  display: flex;
                  justify-content: flex-end;
                  margin: 5px 0px;
                }

                .calcblock_item {
                  display: flex;
                  margin-bottom: 10px;
                  .calcblock_select_ctrl{
                    flex:1;

                    div > div {
                      border-top-right-radius: 0px;
                      border-bottom-right-radius: 0px;
                    }
                  }
                  button{
                    width: 38px;
                    height: 38px;
                    border-radius: 0px;
                    border: none;
                  }
                }
              }
            }
            .viewcalendarblock{

              .viewcalendarblock__tabs {
                list-style: none;
                padding-left: 20px;
                display: flex;
                margin-bottom: 10px;
                border-bottom: 1px solid #d7dbdb;

                .tabs__item{
                  padding: 6px 25px;
                  cursor: pointer;
                  font-size: 14px;
                  font-weight: 700;
                  color: #9fa1a2;
                }
                .tabs__item.selected{
                  color: #17a2b8!important;
                  border-bottom: 2px solid #17a2b8;
                }
              }
              .settings__setcont {
                  padding: 1.5rem;
                  background-color: white;
                  border: 1px solid #d7dbdb;
                  margin-bottom: 10px;

                  label{
                    font-weight: 500;
                    font-size: 16px;
                  }
                }
              .switch_cont{
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  span.switch_label{
                    margin-right: 10px;
                    font-size: 16px;
                  }
                }
            }
          }

        }

        //viewclass
        .viewclass{
          display: flex;
          flex-direction: column;
          height: 100%;

          .viewclass__header{
            margin-left: 40px;

            .headr__title{
              font-size: 22px;
              font-weight: 700;
              margin-right: 20px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 100%;
              margin-top: 23px;
              display: flex;
              align-items: center;

              i.back {
                margin-right: 15px;
                cursor: pointer;
              }
            }
            .headr__info{
              margin-top: 5px;
              .info__params{
                align-self: center;
                text-transform: uppercase;
                color: #9fa1a2;
                font-weight: 700;
                padding-right: 9px;
                margin-bottom: 0;
                font-size: 14px;
              }
              .count{
                color:#000;
              }
            }

          }
          .viewclass__table {
            flex:1;
            padding-top: 20px;
            overflow: auto;
          }
        }

        //viewparam
        .viewparam{
          display: flex;
          flex-direction: column;
          height: 100%;

          .viewparam__header{
            margin-left: 40px;

            .headr__title{
              font-size: 22px;
              font-weight: 700;
              margin-right: 20px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 100%;
              margin-top: 23px;
              display: flex;
              align-items: center;

              i.back {
                margin-right: 15px;
                cursor: pointer;
              }
            }
            .headr__info{
              margin-top: 5px;
              .info__class, .info__dataType{
                align-self: center;
                text-transform: uppercase;
                color: #9fa1a2;
                font-weight: 700;
                padding-right: 9px;
                margin-bottom: 0;
                font-size: 14px;
              }
              .count{
                color:#000;
                font-weight: 500;
              }
            }

          }
          .viewparamsettings{
            flex: 1;
            padding: 15px;
            overflow: auto;

            .viewparamsettings__seacrh {
              label{
                width: 100%;
                display: flex;
                background: #ffffff;
                color: #babdbe;
                padding: 7px 10px;
                align-items: center;
                margin-bottom: 10px;
                height: 50px;
                border: 1px solid #d7dbdb;
                font-size: 16px;
              }
              input{
                border: none;
                background: #ffffff;
                color: #818487;
                flex-grow: 1;
                margin-left: 5px;
                font-weight: 600;
                font-size: 12px;
                padding-left: 10px;
                height: 100%;
              }
              input:focus{
                outline:none!important;
              }
            }
            .viewparamsettings__info {
              padding: 10px 0px;

              .info__sett{
                align-self: center;
                text-transform: uppercase;
                color: #9fa1a2;
                font-weight: 700;
                padding-right: 9px;
                margin-bottom: 0;
                font-size: 14px;
              }
              .count{
                color:#000;
              }
            }
            .viewparamsettings__tabs {
              list-style: none;
              padding-left: 20px;
              display: flex;
              margin-bottom: 10px;
              border-bottom: 1px solid #d7dbdb;

              .tabs__item{
                padding: 6px 25px;
                cursor: pointer;
                font-size: 14px;
                font-weight: 700;
                color: #9fa1a2;
              }
              .tabs__item.selected{
                color: #17a2b8!important;
                border-bottom: 2px solid #17a2b8;
              }
            }
            .settings {

              .settings__setcont {
                padding: 1.5rem;
                background-color: white;
                border: 1px solid #d7dbdb;
                margin-bottom: 10px;

                label{
                  font-weight: 500;
                  font-size: 16px;
                }
                .isHide{
                  width: 38px!important;
                }
              }
            }
          }
        }

        //viewAddParam
        .viewaddparam{
          display: flex;
          flex-direction: column;
          height: 100%;
          .viewaddparam__header{
            margin-left: 40px;

            .headr__title{
              font-size: 22px;
              font-weight: 700;
              margin-right: 20px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              max-width: 100%;
              margin-top: 23px;
              display: flex;
              align-items: center;
              position: relative;

              i.back {
                margin-right: 15px;
                cursor: pointer;
              }
              span.isNewParam {
                font-size: 22px!important;
              }
            }
            .headr__info{
              margin-top: 5px;
              .info__class, .info__dataType{
                align-self: center;
                text-transform: uppercase;
                color: #9fa1a2;
                font-weight: 700;
                padding-right: 9px;
                margin-bottom: 0;
                font-size: 14px;
              }
              .count{
                color:#000;
                font-weight: 500;
              }
            }

          }
          .viewaddparam__body {
            padding: 15px;
            flex: 1;
            overflow: auto;
            display: flex;
            flex-direction: column;

            .form-wrapper{
              padding: 1.5rem;
              background: white;
              border: 1px solid #d7dbdb;

              .btn__cont{
                text-align: right;
              }
            }
            .ClassChoseTree {
                  flex: 1;
                  overflow: auto;
                  min-height: 300px;
                  margin-top: 10px;
                  border: 1px solid #d7dbdb;
                  background-color: white;
            }
            .ClassChoseTree:focus{
              outline:none!important;
            }

          }
        }

        //AppSettings
        .app_work_sett{
          display: flex;
          height: 100%;
          flex-direction: column;
          .app__tabs  {
            list-style: none;
            padding-left: 20px;
            display: flex;
            margin-bottom: 0px;
            border-bottom: 1px solid #d7dbdb;

            .tabs__item {
              padding: 6px 25px;
              cursor: pointer;
              font-size: 14px;
              font-weight: 700;
              color: #9fa1a2;

            }
            .tabs__item.selected{
              color: #5d78ff !important;
              border-bottom: 2px solid #5d78ff;
            }
          }
          .app__body {
            padding: 15px;
            flex: 1;
            overflow: auto;

            .settings__setcont {
              padding: 1.5rem;
              background-color: white;
              border: 1px solid #d7dbdb;
              margin-bottom: 10px;

              label{
                font-weight: 500;
                font-size: 16px;
              }
            }
          }

        }


      }
  }

  ::-webkit-input-placeholder{
    color: #afa4aa;
  }

  .fr_blue {
    .viewsett, .appsett{
      .viewsett__ctrlpanel, .appsett__ctrlpanel  {
        background: #e1f2ff!important;
      }
      .workarea__settings  {
        background: #e1f2ff!important;
      }
      .p-datatable-header {
        background: #e1f2ff!important;
      }
      div, input, select, tr, th, td, ul {
        border-color: #acddff!important;
      }
      .params__addbtn button, .ctrlpanel__btn button{
        background-color: #ffa400;
        border-color: #ffa400;
        box-shadow: 0 5px 15px 0px #e2e2e2;
      }
      div::-webkit-scrollbar-thumb
      {
      	background: linear-gradient(#0699f6, #05c4fa);
      }
      div.p-datatable-scrollable-header-box{
        margin-right: 7px!important;
      }
      div::-webkit-scrollbar
      {
      	height: 7px;
        width: 7px;
      	background-color: #F5F5F5;
      }
    }
  }

  .TableApp{
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
  .TableApp__header{

  }
  .TableApp__header .header__item{
    border-bottom: 1px solid #757575;
    border-right: 1px solid #757575;
    padding: 5px 8px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    background-color: #dbdbdb;
  }

  .TableApp__body{
    flex: 1;
    display: flex;
    overflow: auto;
  }
  .body__column  {
    position: relative;
  }
  .body__column__item{
    border-bottom: 1px solid #757575;
    border-right: 1px solid #757575;
    padding: 5px 8px;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span.isNewParam{
    font-size: 12px;
    right: 5px;
    position: absolute;
    color: green;
    z-index: 5;
  }

  .nameparam_select{
    position: relative;
  }

  .context_param{
    width: 200px;
    height: auto;
    position: fixed;
    background-color: white;
    z-index: 10;
    background-color: white;
    list-style: none;
    padding: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22)!important;
    overflow: auto;
  }

  .nameparam_select li{
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
  }
  .nameparam_select li:hover{
    background-color: #f6f6f6;
  }

  .class_name{
      font-size: 11px;
      color: #686060;

      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      text-overflow: ellipsis;
      float:right;
    }

  .nameparam_select li span.param_name{
    flex:1;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
  }

  .classSelectCtrl{
    border-radius: 0px;
    position: relative;
    .remove_class_ctrl{
      position: absolute;
      right: 15px;
      cursor: pointer;
      color: #cccccc;
    }
    .remove_class_ctrl:hover{
      color:#a6a4a4,
    }
  }
  .classSelectCtrl.selected{
    outline: 3px solid #a6c7ff;
    outline-offset: -3px;
  }

}

.permiss_co {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 10px 10px 0px;
}
.permiss_co1 {
  flex: 0 0 auto;
  padding: 0px 10px;
}
.permiss_co2 {
  flex: 1 1 auto;
}
