:global {
.fr_blue {
    #zt_ViewPage_step_form{
        div::-webkit-scrollbar-thumb
        {
          background: linear-gradient(#0699f6, #05c4fa);
        }
        div::-webkit-scrollbar
        {
          height: 7px;
          width: 7px;
          background-color: #F5F5F5;
        }
      }
  }

#zt_ViewPage_step_form{
  height: 100%;

  ::-webkit-input-placeholder { /* Chrome */
    color: #C7C7C7!important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #C7C7C7!important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #C7C7C7!important;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #C7C7C7!important;
  }


  .input-group {

    input{
      border-top-right-radius: 43px!important;
      border-bottom-right-radius: 43px!important;
      padding-right: 80px!important;
    }
    div.input-group-append{
      position: absolute;
      top: 0px;
      right: 0px;
      color: #0069A5;
      border-radius: 43px;
      border: 2px solid #0069A5;
      border-right: none;
      z-index: 10;
      height: 100%;

      button{
        color: #0069A5;
      }
    }
  }


  .validate_error label, .validate_error span.text, .validate_error .input-group-append button{
    color: #FF2E00!important;
  }
  .validate_error input, .validate_error select, .validate_error textarea, .validate_error .input-group-append, .validate_error .custom_select_conteiner, .validate_error .custom_select_list{
    border-color: #FF2E00!important;
  }
  .validate_error input:not([type="radio"]):focus{
    box-shadow: 0px 0px 7px rgba(255, 46, 0, 0.8);
  }
  .validate_error .input_unit{
    border-color: #FF2E00 !important;
    span.unit{
      color: #FF2E00 !important;
    }
  }
  .validate_error .input_unit.focus{
    box-shadow: 0px 0px 7px rgba(255, 46, 0, 0.8)!important;
  }
  span.error_msg{
    color: #FF2E00;
    font-weight: bold;
    padding-left: 20px;
    display: none;
    position: absolute;
    bottom: -2px;
    white-space: nowrap;
  }
  .validate_error span.error_msg{
    display: block!important;
  }


  .row{
    //align-items: flex-end;
  }

  .form-group{
    position: relative;
    margin-top: 0.6em;
    margin-bottom: 5px;
    padding-bottom: 15px;

    label{
      position: absolute;
      top: -0.6em;
      font-size: 13px!important;
      left: 20px;
      z-index: 5;
      overflow: hidden;
      white-space: nowrap;
      max-width: Calc(100% - 16px);
      text-overflow: ellipsis;
      display: inline-block;
      margin-bottom: 0px;
      padding: 0px 6px;

      span.text{
        position: relative;
        z-index: 5;
      }
      span.label_ph{
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top:0px;
        left: 0px;
        border-radius: 21px;
        border: 1px solid white;
        filter: blur(3px);
      }
    }
  }
  .form-group input:focus ~ label span.text{
    color: #0069A5;
  }

  .react-datepicker-popper {
    z-index: 55!important;
  }
}

.custom_select{
  position:relative;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  cursor: pointer;
  label {
    font-weight: 400!important;
  }
  .custom_select_conteiner{
    display: flex;
    padding: 0px 12px;
    border: 2px solid #0069A5;
    border-radius: 49px;
    align-items: center;
    height: 100%;

    span.chosen_null{
      color: #B8B8B8;
    }
    span.text{
      flex:1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0px 10px;
      width: 1px;
    }
  }
  .custom_select_list{
    position: absolute;
    top:0px;
    left: 0px;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px rgba(0, 105, 165, 0.2);
    border-radius: 15px;
    width: 100%;
    z-index: 150;

    .custom_select_list_data{
      max-height: 236px;
      background: white;
      margin-top: 16px;
      padding: 20px 2px 10px;
      border: 2px solid #0069A5;
      border-radius: 15px;
      border-top: none;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      display: flex;

      .list {
        overflow: auto;
        flex: 1;
      }
    }


    .custom_select_selected{
      display: flex;
      padding: 0px 12px;
      align-items: center;
      border: 2px solid #0069A5;
      border-radius: 43px;
      background: white;
      height: 32px;
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0px;

      span.text{
        padding: 0px 10px;
        flex:1;

        input.custom_select_search_input {
          width: 100%;
          outline: none;
          border: none;
          padding: 0px;
          height: 100%;
          border-radius: 0px!important;
          box-shadow: none!important;
        }
      }
    }
    .custom_select_option{
      display: flex;
      padding: 6px 12px 5px 25px;
    }
    .custom_select_option:hover{
      color: white;
      background: linear-gradient(180deg, #4395EB 0%, #54B9F4 100%);
    }
  }
}
.custom_select.disabled{
  opacity: 0.5;
  pointer-events: none!important;
}
.custom_select:focus{
  outline:none!important;
}

.input-group {
  .react-datepicker-wrapper{
    input{
      height: 40px;
      width: 100%;
    }
    input:focus{
      outline: none!important;
    }
  }
}

.custom_switcher_cont{
  border: 2px solid #0069A5;
  box-sizing: border-box;
  border-radius: 61px;
  display: inline-block;
  position: relative;
  font-size: 27px;
  cursor: pointer;
  color: #0069A5;
  white-space: nowrap;


  .switch_element{
    padding: 11px 25px 11px 25px;
    transition: .5s;
    opacity: 1;
    text-align: center;
    display: inline-block;
    justify-content: center;
    border-radius: 61px;
    position: relative;
    white-space: nowrap;
    z-index: 20;

    span {
      z-index: 5;
    }
  }
  .switch_element.selected{
    color: white!important;
  }
  .switch_element.blue{
    background: #0069A5;
    transition: none!important;
  }
  .custom_sw_thum{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 61px;
    background: #0069A5;
    color: white;
    padding: 20px 25px;
    transition: .5s;
  }
  .custom_sw_thum.transition{
    transition: .5s;
  }
}

.custom_radio{
  display: flex;
  flex-direction: column;

  .custom_radio_item{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 10px 0px;

    .check_item{
      display: inline-block;
      border: 2px solid #0069A5;
      width: 26px;
      height: 26px;
      min-width: 26px;
      min-height: 26px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;

      .checked{
        background: linear-gradient(180deg, #FFFFFF 52.6%, #EEEEEE 100%);
        border: 1px solid #2A414E;
        box-shadow: 0px 1px 3px rgba(0, 67, 105, 0.8);
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }
    }
    label{
      cursor: pointer;
      font-size: 22px;
      color: #595959;
      margin-bottom: 0px;
    }
  }
  .custom_radio_item.checked{
    .check_item{
      background: #0069A5;
    }
  }
}
.custom_radio.inline{
  flex-direction: row!important;
  .custom_radio_item {
    margin: 0px 25px 0px 0px!important;
  }

}
@media (max-width: 980px){
  .custom_radio.responsive {
    display: block;
  }
}
@media (min-width: 980px){
  .custom_radio.responsive {
    flex-direction: row!important;
    .custom_radio_item {
      margin: 0px 25px 0px 0px!important;
    }
  }
}

@media (max-width: 790px){
  .flex_responsive{
    .adv_param{
      flex-wrap: wrap;

      .adv_param_item{
        max-width: 100%;
        flex-basis: 100%;

        .title_responsive{
          margin-bottom: 5px!important;
        }
      }
    }
  }
}
@media (max-width: 650px){
  .flex_responsive{
    flex-wrap: wrap;
    justify-content: center!important;

    .adv_param{
      flex-basis: 100%!important;
    }
  }
}

@media (max-width: 530px){
  .flex_responsive{
    flex-direction: column;
    align-items: normal!important;
    input{
      width: 100%!important;
    }
    .operation_prices_item{
      margin-bottom: 20px!important;
      .title{
        margin-bottom: 5px!important;
      }

    }
    .adv_param{
      width: 100%!important;
      margin: 0px!important;

      .adv_param_item{
        padding: 0px 10px!important;
      }
    }
  }
}


.operations_add_comp, .operations_edit_comp{
  width: 100%;
  margin-bottom: 25px;

  .operations_add_backdrop, .operations_edit_backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 500;
    background: rgba(255, 255, 255, 0.8);
    pointer-events: none;

  }
  .operations_add_modal, .operations_edit_modal{
    width: 100%;
    height: 100%;
    border: 2px solid #0069A5;
    border-radius: 24px;
    background: white;
    position: relative;
    left: 0px;
    top:0px;
    z-index: 550;
    display: flex;
    flex-direction: column;
    min-height: 318px;

    .operations_add_data, .operations_edit_data{
      padding: 20px 12px 12px 20px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      .add_oper_stepper, .edit_oper_stepper{
        display: flex;
        align-items: center;
        min-height: 12px;
        .step_item{
          margin-right: 12px;
          width: 10px;
          height: 10px;
          background: #E8F2F8;
          border-radius: 50%;
          border: 1px solid #0069A5;
          cursor: pointer;
        }
        .step_item.selected{
          background: #0069A5!important;
        }
      }
      .add_oper_content, .edit_oper_content{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .add_oper_content_flex{
          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-wrap: wrap;

          label{
            font-weight: 700;
            font-size: 15px;
          }
          .user_digit{
            input{
              height: 32px;
              padding: 6px 12px;
              font-size: 14px;
              font-weight: 700;
            }
            label{
              color: black;
            }
          }
        }
        .addit_block_content{
          flex:1;

          div.title{
            font-size: 33px;
            margin: 11px 0px;
            color: #595959;
          }
          div.addit_content{

            .custom_radio {
              padding: 0px 10px;
              .custom_radio_item label{
                 font-size: 19px;
                 color: black;
               }
            }
            .addit_checkbox_item{
              margin-bottom: 10px;

              .MuiSwitch-root{
                margin: 0px;
              }
              label{
                margin-left: 10px;
                font-size: 15px;
                color: black;
                font-weight: 700;
                cursor: pointer;
              }
            }
            .addit_input_value{
              //max-width: 220px;
            }
          }
        }
        .isolants_content{
          flex:1;

          div.title{
            font-size: 33px;
            margin: 11px 0px;
            color: #595959;
          }
          input{
            height: 30px;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 700;
          }
          span.bold {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 15px;
            display: inline-block;
          }
          input.surface_input{
            max-width: 90px;
          }
          .adv_size_cont{
            max-height: 250px;
            overflow: auto;
          }
        }
        .prix_unitare_content{
          flex:1;

          div.title{
            font-size: 33px;
            margin: 11px 0px;
            color: #595959;
          }
          input {
            font-size: 22px;
            width: 158px;
            text-align: center;
            color: #595959;
          }
          .adv_prix {
            display: flex;
            align-items: center;

            .adv_prix_item{

              label{
                width: 100%;
                font-size: 18px;
                text-align: center;
              }

              span.value{
                font-size: 22px;
                font-weight: 700;
                display: block;
                padding: 11px 19px;
                text-align: center;
              }

            }
          }

        }
      }
      .add_oper_btn, .edit_oper_btn{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        button.btn_next{
          background: #FF9600;
          border: 1px solid #FFFFFF;
          border-radius: 31px;
          padding: 10px 12px;
          color: white;
          font-size: 15px;
          line-height: 18px;
        }
        button.btn_cancel{
          padding: 0px;
          display: flex;
          align-items: flex-end;
        }
        button.btn_add_isolant{
          padding: 0px;
          margin-right: 20px;
          color: #0069A5;
          font-weight: 700;

          span.ico{
            width: 30px;
            height: 30px;
            margin-right: 20px;
            display: flex;
            border: 2px solid #0069A5;
            box-sizing: border-box;
            border-radius: 49px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
          }
        }
        button.btn_remove_isolant{
          padding: 0px;
          margin-right: 20px;
          color: #0069A5;
          font-weight: 700;

          span.custom_icon{
            margin-right: 20px;
          }
        }
      }


    }
  }

}



span.custom_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  svg{
    vertical-align: unset;
  }
}


.form-check {
  input, label{
    cursor: pointer;
  }
}
.userstep_form{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}



.ellipsis{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.error_text {
  flex:1;
  padding: 0px 15px;
  color: red;
  font-size: 14px;
}

.additional_table {
  td {
    padding: 2px;
    input{
      border: none;
      width: 170px;
      height: 100%;
      border-radius: 0px;
      margin: 0px!important;
    }
    input:focus{
      outline: 2px solid #80bdff;
      outline-offset: 1px;
      box-shadow: none;
    }
  }
  th {
    font-weight: 600;
    color: #495057;
    background: #f8f9fa;
  }
}

.btn_min {
  font-size: 12px!important;
  padding: 5px 10px !important;

  .pencil_btn {
    transform: rotate(-90deg);
    margin-left: 5px;
    font-size: 10px;
  }
}

.mt-element-step{
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(40px);
  padding: 8px 0px 20px 0px;
  z-index: 250;
  .mt-el-step-items{
    display: flex;
    justify-content: space-between;
    padding: 3px 20px;
    max-width: 840px;
    margin: auto;

    .mt-step-col {
      cursor: pointer;
      text-align: center;
      flex:1;
      overflow: hidden;

      .step-number{
        font-size: 35px;
        font-family: "roboto-lightuploaded_file";
        padding: 0px 10px;
        margin-right: 20px;
      }
      .mt-step-content {
        color: #0069A5;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
        padding: 0px 10px;
        display: flex;
        justify-content: center;

        span.text{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
        span.custom_icon{
            margin-left: 5px;
            opacity: 0;
            transition: .5s;
          }

      }
      .mt-step-content.step-checked{
        span.custom_icon{
          opacity: 1!important;
        }
      }
    }
    .mt-step-col.active {
      .mt-step-content{
        color: #00456B!important;
      }
      .step-number{
        font-weight: 700;
      }
    }
  }
  .m-step-progress{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 5px rgba(66, 84, 91, 0.25);
    border-radius: 21px;
    height: 11px;
    max-width: 840px;
    margin: auto;

    .m-step-fill{
        background: linear-gradient(180deg, #FF9600 0%, #FF5C00 99.99%, #FF7A00 100%);
        border: 1px solid #BD4400;
        box-shadow: inset 0px 1px 5px rgba(66, 84, 91, 0.25);
        border-radius: 21px;
        height: 9px;
        width: 0%;
        transition: .5s
    }
  }

  .m-el-step-odd, .m-el-step-even{
    display: none;

    .mt-step-content-mobile{
      color: #0069A5;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 900;
      cursor: pointer;

      span.text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
      span.custom_icon{
          margin-left: 5px;
          opacity: 0;
          transition: .5s;
        }
    }
    .mt-step-content-mobile.step-checked{
      span.custom_icon{
        opacity: 1!important;
      }
    }

    .mt-step-col.active {
      .mt-step-content-mobile{
        color: #00456B!important;
      }
    }

  }

  .form_main_btn_back{
    display: none;
    padding: 0px 10px;
  }
}
.step_form_body{
  flex: 1;
}

.form_main_title{
    width:100%;
    padding: 10px 0px;
    opacity: 0;
    transition: .5s;
    z-index: 200;
    display: flex;
    position: sticky;
    left: 0px;
    top: 100px;
    border: 1px solid #E9E9E9;
    width: 100%;
    background: rgba(252, 252, 252, 0.7);
    backdrop-filter: blur(10px);

  .form_main_title_cont{
    max-width: 840px;
    min-height: 48px;
    margin: auto;
    flex:1;

    .main_tags_conteiner{
      display: flex;
      font-size: 16px;
      align-items: center;
      white-space: nowrap;
      flex-wrap: wrap;
      justify-content: center;

      .main_tag_item{
        margin: 0px 4px;
        background: #F3F3F3;
        border-radius: 23px;
        padding: 10px;
        span.bold{
          font-weight: 700;
        }
      }
      .main_tag_item_title{
      //  display: none;
        margin-right: 19px;
        font-size: 23px;
        padding: 5px 0px 3px 20px;
      }
    }
    .main_title{
      font-size: 23px;
      padding: 5px 0px 3px 20px;
    }

  }
}
.form_main_title.show{
  opacity: 1!important;
}
.form_main_title.no_stepper{
  top: 0px!important;
}


.organization_image{
  position: absolute;
  top: 0px;
  right: 20px;
  display: flex;
  padding: 7px 0px;
  height: 100%;
}
.header_img{
  display: flex;
  height: 100%;
  margin-bottom: 15px;
}
.header_img .header_img_item{
  width: 180px;
  background-color: white!important;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  margin-right: 20px;
  border: 3px solid #BDBDBD;
  border-radius: 19px;
}
.header_img .header_img_item.active{
  opacity: 1!important;
  border-color: #0069A5;
}
.header_img .header_img_item.disabled{
  cursor: not-allowed!important;
}
.header_img .header_img_item img{
      max-width: 80%;
      max-height: 80%;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
}
.header_img .header_img_item.active img{
      -webkit-filter: unset!important;
      -moz-filter: unset!important;
      -ms-filter: unset!important;
      -o-filter:unset!important;
      filter: unset!important;
      filter: unset!important;
}


.adv_size_cont {
  padding: 14px 14px 20px 14px;
  background: #F9F9F9;
  border: 1px solid #EFEFEF;
  border-radius: 17px;

  .title{
    font-weight: 700;
    color: #595959;
    text-align: right;
    padding-right: 35px;

    span.bold{
      color:#000;
      margin-left: 15px;
    }
  }
  .adv_size_items {

    .adv_size_item{
      display: flex;
      margin-top: 5px;
      margin-bottom: 10px;
      align-items: center;

      .input_cont{
        padding-right: 15px;
        flex:1;
        //padding-bottom: 0px!important;

      }
      .btn_cont{

        button{
          padding: 0px;
        }
      }
    }

  }
  .adv_size_btn{
    button{
      padding: 7px 15px;
      background: #fff;
      border: 1px solid #27AE60;
      color: #27AE60;
      font-weight: 700;
      border-radius: 49px;
    }
  }
}

.operation_step_cont{
  padding: 0px 0px 125px 0px;
  button.btn-add-new-oper{
    background: #FF9600;
    border: 1px solid #FFFFFF;
    border-radius: 31px;
    padding: 10px 12px;
    color: white;
    font-size: 15px;
    line-height: 18px;
  }
}

.operation_cont{

  .operation_item {
    border: 2px solid #0069A5;
    border-radius: 24px;
    padding: 20px 20px 10px 20px;
    margin-bottom: 25px;
    position: relative;

    .operation_title{
      display: flex;
      align-items: center;

      .title{
        flex: 1;
        font-size: 20px;
        color: #595959;
      }
      button{
        padding: 0px;
        font-size: 15px;
        color: #0069A5;
        display: flex;
        align-items: center;

        span.custom_icon {
          margin-right: 7px;
        }
      }
    }
    .operation_addit_block{
      margin-top: 5px;
      margin-bottom: 22px;
      .addit_block_item{
        margin: 3px 0px;

         span.item_text{
          padding: 5px 0px 5px 10px;
          color: #55788C;
          background-color: #ECF8FF;
          border-radius: 43px;
          display: inline-block;

          span.text{
            margin-right: 10px;
          }

          .addit_block_data_item{
            padding: 3px 6px;
            color: #989898;
            background-color: #fff;
            border-radius: 43px;
            margin: 0px 3px;
          }
        }
      }
    }

    .remove_btn_cont {

      position: absolute;
      right: -17px;
      bottom: 70px;
      padding: 0px;

      .remove_btn {
        height: 34px;
        width: 34px;
        position: relative;
        display: block;
        border: none;
        background: none;
        padding: 0px;

        .nt_div_inf_t {
          position: absolute;
          right: 0px;
          padding-right: 36px;
          height: 34px;
          background: white;
          z-index: 1;
          border: 2px solid #0069A5;
          border-radius: 50px;
          justify-content: center;
          align-items: center;
          padding: 0px 36px 0px 10px;
          display: none;
          font-size: 13px;
        }
        .custom_icon {
          height: 34px;
          width: 34px;
          background: #FBFBFB;
          border: 2px solid #0069A5;
          box-sizing: border-box;
          box-shadow: 0px 3px 7px #c7c7c7;
          border-radius: 50%;
          justify-content: center;
          align-items: center;

          z-index: 5;
          position: relative;
        }


        &:hover {
          .nt_div_inf_t {
            display: flex;
          }
        }
      }
      .remove_btn {
        .nt_div_inf_t {
          color: #FF2E00;
        }
        .nt_div_inf_t_del {
          position: absolute;
          display: none;

          background: white;
          justify-content: center;
          padding: 11px 36px 0px 19px;

          border: 1px solid #CED6DD;
          box-shadow: 0px 3px 7px #C7C7C7;

          height: 61px;
          right: 0px;
          top: -14px;
          width: 462px;
          border-radius: 16px;
          z-index: 2;
          flex-direction: column;
          align-items: flex-start;
          padding-top: 8px;
        }

        .nt_div_inf_t_del_c1 {
          color: #FF2E00;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
        }
        .nt_div_inf_t_del_c2 {
          display: flex;
          justify-content: center;
          padding: 10px;
          width: 100%;
        }
        .nt_div_inf_t_del_b1, .nt_div_inf_t_del_b2 {
          border: solid 1px transparent;
          border-radius: 20px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #0069A5;
          background: transparent;
          &:hover {
            background: #e5f4ff;
            border: solid 1px #eaeaff;
          }
        }
        .nt_div_inf_t_del_b1 {
          margin-right: 25px;
        }

        &.nt_open_del_pop {
          .custom_icon {
            border: 1px solid #CED6DD;
            background-color: #FF2E00;
            rect, line {
              fill: #FF2E00!important;
              stroke: white!important;
            }
          }

          .nt_div_inf_t_del {
            display: flex;
          }
        }
      }
      .remove_btn.disabled_remove{
        pointer-events: none;
        background-color: white;

        .custom_icon{
          opacity: 0.7!important;
        }
      }
    }

  }
}

.operation_adv_column{
  display: flex;
}

.operation_prices{
  display: flex;
  justify-content: flex-end;

  .operation_prices_item, {
    padding: 0px 10px;
    text-align: center;
    color:#595959;
    input{
      width: 95px;
      margin: auto;
      color: #595959;
    }
    .title{
      margin-bottom: 25px;
      font-weight: 700;
    }
    .value{
      padding: 6px 12px;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 7px;
    }
    .group_input{
      margin-bottom: 7px;
    }
  }
  .adv_param{
    flex: 1;
    display: flex;
    margin: 0px -15px;
    color: #595959;
    width: 1px;

    input{
      width: 100%;
    }
    .adv_param_item{
      padding: 0px 5px;

      .title{
        margin-bottom: 25px;
        font-weight: 700;
        text-align: center;
      }
    }
    .group_input{
      margin-bottom: 7px;
    }
  }

}

.operation_sub_title{
  padding: 0px 10px;
  font-weight: 600;
  color: #595959;
}

.react-datepicker-wrapper {
  width: 100%;
}
.date_input_ctrl {
    position: relative;
    display: inline-block;
    width: 100%;

    button{
      display: flex;
      align-items: center;

      span.custom_icon{
        display: flex;
        margin-left: 5px;
      }
    }
}

.switch_label{
    color: #069cf6;
    font-size: 16px;
    vertical-align: middle;
}

.mt-step-number {
  font-size: 24px;
  color: #81d5fd;
}

.form_cont{
    margin: auto;
    max-width: 840px;
    transition: .5s;
    .form_item{
        transition: .5s;
        overflow: hidden;
    }
    form{
      padding: 0px 15px;
    }
}

.footer_cont {
  max-width: 840px;
  margin: auto;
  padding: 0px 10px 70px;

  .btn-user-step-next, .btn-add-new-oper {
    background: #FF9600;
    border: 1px solid #FFFFFF;
    border-radius: 31px;
    padding: 10px 12px;
    color: white;
    font-size: 15px;
    line-height: 18px;
  }
  .btn-user-step-retour {
    font-size: 18px;
    line-height: 21px;
    color: #0069A5;
    background: none;
    border: none;

    span {
      text-decoration: underline;
    }
  }
  .btn-user-step-next:focus, .btn-user-step-retour:focus{
    outline: none!important;
  }
}
.footer_cont.fixed{
  padding: 20px 50px 20px 50px;
  width: 100%;
  //box-shadow: 0 -3px 4px 1px rgba(0, 0, 0, 0.3);
  max-width: 100%!important;
  z-index: 100;
  position: sticky;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background: rgba(252, 252, 252, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid #E9E9E9;

  .footer_mobile{
    display: none;
  }

  .footer_center-btn{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .sum_total_item{
      font-size: 28px;
      text-align: center;
      margin: 0px 25px;
      white-space: nowrap;

      .sum_label{
        font-size: 15px;
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 1280px){
  .form_cont {
      max-width: 840px;
  }
  .footer_cont {
    max-width: 840px;
  }
  .footer_cont.fixed{
    padding: 20px 30px;

    .footer_center-btn{
      .sum_total_item{
        margin: 0px 15px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 980px){
  .footer_cont.fixed{
    padding: 20px 15px;

    .footer_center-btn{
      .sum_total_item{
        font-size: 16px;
        margin: 0px 10px;
      }
    }
  }
}
@media (max-width: 800px){
  .footer_cont.fixed{
    padding: 10px 15px 10px 15px;

    .footer_left-btn, .footer_right-btn, .add_btn_cont{
      display: none;
    }
    .footer_center-btn{
      justify-content: space-around;

      .sum_total_item{
        margin: 0px 14px;
      }
    }

    .footer_mobile{
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
    }
  }
  .form_main_title{
    .main_title{
      display: none;
    }
    .main_tags_conteiner{

      .main_tag_item_title{
        display: block!important;
        font-size: 18px!important;
      }
      .main_tag_item{
        margin-bottom: 3px!important;
        font-size: 18px!important;
      }
    }

  }

  .mt-element-step{

    padding: 6px 0px;
    min-height: 60px;
    display: flex;

    .mt-el-step-items{
      display: none;
    }
    .form_main_btn_back{
      display: flex;
    }
    .m-step-progress-cont{
      flex: 1;
      padding-right: 20px;

      .m-el-step-odd{
        display: flex;

        .mt-step-col{
          flex: 1;
          white-space: nowrap;
        }
      }
      .m-el-step-even{
        display: flex;
        .mt-step-col{
          flex: 1;
          white-space: nowrap;
        }
      }
      .m-step-progress{
        margin: 2px 0px;
      }

    }



  }

  .form_main_title{
    top:60px;
  }

}
@media (max-width: 560px){
  .footer_cont.fixed{
    .footer_center-btn{
      .sum_total_item{
        font-size: 14px;
        font-weight: 700;

        .sum_label{
          font-size: 11px;
        }
      }
    }
  }
  .custom_switcher_cont{
    font-size: 18px;
  }
}
@media (max-width: 420px){
  .custom_switcher_cont{
    font-size: 14px;
  }
  .footer_cont.fixed{
    .footer_center-btn{
      .sum_total_item{
        margin: 0px 8px;
      }
    }
  }
}

div.title_step{
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  color: #595959;
  margin: 35px 0px 25px 30px;
}
div.sub_title_step{
  font-weight: 300;
  font-size: 33px;
  line-height: 39px;
  color: #595959;
  margin: 30px 0px 10px 15px;
}

.adv_input_cont{
  margin-top: 25px;
}

.group_input {
      margin-bottom: 20px;
}

.group_input label{
  color: #595959;
}
.operation_item .group_input, {
    input{
      height: 30px;
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 700;
    }
    label{
      font-size: 14px;
      margin-bottom: 3px;
      text-align: left;
    }
}
.operation_isolant_items.group_input{

      margin-top: 11px;

      .isolant_data {
        align-items: flex-start!important;
      }

      div.title{
        margin-left:10px;
        font-weight: 700;
        color:#595959;
        margin-bottom: 10px;
      }
      .surface_input{
        width: 90px;
      }
      .seporator{
        border-bottom: 1px solid #B6B6B6;
        margin: 20px 70px 0px;
      }
}
.operation_isolant_items.empty{
  margin-top: -10px!important;
  .seporator{
    margin-top: 11px!important;
  }
}


.radio_group .radio label {
  font-size: 14px;
  display: flex;
  align-items: baseline;
}
.radio_group .radio input {
      margin-right: 10px;
}
.radio_group .radio {
  margin-right: 25px;
}
.radio_cont {
  display: flex;
  padding-left: 30px;
}
@media (max-width: 768px){
  .radio_cont {
    flex-direction: column;
  }
}

.tooltip_cont {
    position: absolute;
    width: 200px;
    background: #0399fc;
    color: white;
    padding: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px 0px #e2e2e2;
    z-index: 100;
    font-size: 14px;
    line-height: normal;
    font-family: "roboto-regularuploaded_file";

    .arrow_tooltip.up-top-middle {
      position: absolute;
      top: -10px;
      left: calc(50% - 10px);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #0399fc;
    }
    .arrow_tooltip.bottom-left {
      position: absolute;
      top: calc(100% - 23px);
      left: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #0399fc;
    }
    .arrow_tooltip.top-right {
      position: absolute;
      top: 0px;
      right: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #0399fc;
    }
    a {
      color: white;
    }
    a:hover{
      color: white;
    }
}
.ico-info:focus {
  outline: none!important;
}


span.ico-info{
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.required label span.text:after{
  content: '*';
}

.footer_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.table_oper{
  padding: 10px;
}
.table_oper_cont{
    border: 1px solid #e9ecef;
    box-shadow: -1px 5px 5px 0px #e9ecef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.table_oper_cont table tr.bordered{
  border-top: 1px solid #e9ecef;
}
.table_oper_cont table tbody:first-child{
  border-top: none!important;
}

.table_oper_cont table th, .table_oper_cont table td,{
  padding: 15px;
  vertical-align: text-top;
}

.table_oper_cont table .form-group {
  margin-bottom: 0px;
}
.table_oper_cont table input, .table_oper_cont table select,
.table_oper_cont table .isolant_select > div >div{
    border: 2px solid #acddff;
}
.table_oper_cont .surface_sp_oper{
  margin-top: 10px;
  display: flex;
  align-items: center;
  label {
    flex: 1;
    margin-bottom: 0px;
  }
  input {
    width: 150px;
    margin-right: 36px;
  }
}

.btn-orange{
  background-color: #ffa400;
  border-color: #ffa400;
  color: white;
}

@media (min-width: 576px){
 .modal-dialog{
      max-width: 720px!important;
  }
}
.add_operation_modal .close {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    opacity: 1;
}
.add_operation_modal .add_oper_modal_btn{
    background-color: #ffa400;
    border-color: #ffa400;
    border-radius: 20px;
    color: white;
    padding: 8px 35px;
    font-weight: 600;
    box-shadow: 0 5px 15px 0px #e2e2e2;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
}

.add_operation_modal .modal-title{
  font-size: 1.75rem;
}

.add_operation_modal .modal-content{
      padding: 30px
}

.add_operation_modal .modal-header{
  border-bottom:none!important;
}
.add_operation_modal .modal-body{
  padding-bottom: 0px!important;
}
.add_operation_modal .modal-footer{
  border-top:none!important;
  padding-top: 0px!important;
  justify-content: flex-start!important;
}

.fiscal__form::-webkit-scrollbar-thumb
{
	background-color: #02a0fc;
}
.fiscal__form::-webkit-scrollbar
{
	height: 5px;
	background-color: #F5F5F5;
}

.adv_param_item .verif_title{
  float: right;
  color: #ffa400;
}
.table_oper_control .text_ctrl{
  display: inline-block;
  vertical-align: middle;
  h4 {
    color: #ffa400;
  }
}
.btn-add-oper{
  white-space: nowrap;
  color: white;
  padding: 6px 12px;
  background: #FF9600;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 31px;
  margin-right: 8px ;
}
.btn-add-oper:hover{
  background-color: white;
  color: #FF9600;
  border: solid 1px;
}

.protelt{
  padding: 0px 25px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}

.portlet__head{
  padding: 14px 0px;
  border-bottom: 1px solid #f2f3f8;
}
.portlet__content{
  padding: 20px 0px;
}
.portlet__footer{
  border-top: 1px solid #f2f3f8;
  padding: 14px;
  text-align: right;
}

.fiscal__form  .verify__result{
  background-color: #f2f3f8;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 10px 15px;
  height: min-content;
}
.block-ui-container{
  position: fixed!important;
}
.error_isolants >div >div{
  border: 2px solid red!important;
}


.group_input input{
  font-size: 17px;
  padding: 9px 17px;
  background: #FFFFFF;
  border: 2px solid #0069A5;
  border-radius: 43px;
  color: black;
}
.group_input input:disabled{
  opacity: 0.6;
}
.group_input input:not([type="radio"]):focus{
  box-shadow: 0px 0px 7px rgba(80, 178, 242, 0.8);
  color: black;
  border-color: #0069A5;
}

.input_unit {
  display: flex;
  align-items: center;
  border: 2px solid #0069A5;
  border-radius: 43px;

  input{
    border: none!important;
    background: none!important;
    padding-right: 0px!important;
    box-shadow: none!important;
  }
  input:focus{
    box-shadow: none!important;
  }
  span.unit{
    color: #0069A5;
    font-weight: 700;
    padding-right: 10px;
  }
}
.input_unit.focus{
    box-shadow: 0px 0px 7px rgba(80, 178, 242, 0.8);
}


.hide {
  display: none!important;
}
.persone_phys_data {
  .item_cont{
    display: flex;
    align-items: flex-end;

    .input_cell{
      flex: 1;

      button{
        display: flex;
        align-items: center;
        justify-content: center;

        span.custom_icon{
          height: 18px;
          width: 17px;
        }
      }
    }
  }
  .adress_error{
    font-size: 15px;
    padding: 10px 15px 20px 15px;
  }
  .btn_cont{
    justify-content: space-between;
    display: flex;

    button{
      padding: 10px 12px;
      font-size: 15px;
      color:#FF9600;
      border: 1px solid #FF9600;
      border-radius: 31px;
      background: white;


      span.custom_icon{
          margin-right: 7px;
      }
    }
    button.btn_valider{
      background: #FF9600;
      border: 1px solid #FFFFFF;
      border-radius: 31px;
      padding: 10px 12px;
      color: white;
      font-size: 15px;
    }
  }
}
}
