.nt_form_group {
  position: relative;
  display: flex;
  align-items: center;

  .nt_input {
    font-size: 17px;
    padding: 9px 17px;
    background: #FFFFFF;
    border: 2px solid #0069A5;
    border-radius: 43px;
    outline: none!important;
    color: #363636;
    &:focus {
      box-shadow: 0px 0px 7px rgb(80 178 242 / 80%);
      color: black;
      border-color: #0069A5;
    }
  }
  .nt_label {
    position: absolute;
    top: -0.6em;
    color: #0069A5;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px!important;
    left: 20px;
    z-index: 5;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 16px);
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: 0px;
    padding: 0px 6px;
  }
  .nt_span_text {
    position: relative;
    z-index: 5;
  }
  .nt_label_ph {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0px;
    left: 0px;
    border-radius: 21px;
    border: 1px solid white;
    filter: blur(3px);
  }

  .nt_label_read {
    left: 0px;
  }
  .nt_span_lot_name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    min-width: 100px;

    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .nt_span_text_read {
    position: relative;
    z-index: 5;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    color: #727272;
    left: -5px;
  }
}

.nt_table_co {
  //position: relative;
  height: auto;
  width: auto;

  .nt_wrapper_table {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 230px);
  }

  .nt_loading_div {
    margin-top: 8px;
    width: 100%;
    height: 30px;
    padding: 7px;
    background: #f4f4f4;
    z-index: 1;
    border: solid 1px silver;
    border-radius: 17px;
  }


  .nt_thead {
    overflow: hidden;
    display: block;
    width: 100%;
    flex: 0 0 auto;

    .nt_tr_thead {
      display: flex;
      flex-direction: row;
      margin-right: 10px;
    }
  }


  .nt_wrapper_tbody {
    overflow: hidden;
    flex-direction: column;
    position: relative;
    display: flex;
  }

  .nt_tbody_scroller {
    height: 100%;
    position: absolute;
    width: 18px;
  //  background: silver;
    z-index: 3;
    right: 0px;
    top: 0px;

    overflow-x: hidden;
    overflow-y: auto;
  }
  .nt_tbody_scroller_div {
    display: block;
  }

  .nt_tbody_scroller {
    //По умолчанию Задаем высоту скрола с учетом нижнего блока
    height: calc(100% - 74px);
  }
  .nt_tbody {
    overflow: auto;
    position: relative;
    flex: 1 1 auto;
  }

  .nt_td_content {
    height: 100%;
  }

  td:first-child .nt_td_content {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  td:last-child .nt_td_content {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .nt_mobile_thead {
    width: 100%;
    display: flex;
    padding: 8px 16px 0px;
    align-items: center;
    font-size: 18px;
    font-family: Roboto;
  }

  .nt_tr_mobile_header {
    display: none;
    background: #DADADA;
    margin-bottom: -20px;
    padding: 10px 14px 28px 14px;
    height: 74px;
    margin-right: 10px;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;

    .nt_tr_mh_co0, .nt_tr_mh_co1, .nt_tr_mh_co2 {
      width: 33%;
      flex: 1 1 auto;
      display: flex;
      align-items: center;

    }
    .nt_tr_mh_co1 {
      span {
        color: #0069A5;
      }
    }
    .nt_tr_mh_co2 {
      justify-content: flex-end;
      span {
        color: #FF2E00;
      }
    }

    .nt_btn_mobile {
      cursor: pointer;
      height: 34px;
      width: 34px;
      background: #FBFBFB;
      border: 1px solid #CED6DD;
      box-sizing: border-box;
      box-shadow: 0px 3px 7px #c7c7c7;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      z-index: 5;
      position: relative;
    }
  }
  .nt_tr {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 10px;
    //чтобы помещалась кнопка с удалением и архивом, она на 17 пикселей выступает
    margin-right: 10px;
    position: relative;
    font-family: 'Roboto';

    border: 1px solid #F4F4F4;
    //border: 2px solid #0069A5;
    background-color: #FBFBFB;
    transition: opacity 0.3s;
    
    &.nt_tr_open {
      background-color: #FBFBFB;
    }
  }

  .nt_co_hover {
    display: none;
    position: fixed;
    z-index: 3000;
    flex-direction: column;
    justify-content: space-between;
    height: 84px;
  }

  .nt_tr.nt_tr_hover {
    .nt_co_hover {
      display: flex;
    }
  }



  .nt_btn_remove_tr, .nt_btn_archive_tr {
    height: 34px;
    width: 34px;
    position: relative;
    display: block;
    border: none;
    background: none;
    padding: 0px;

    .nt_div_inf_t {
      position: absolute;
      right: 0px;
      padding-right: 36px;
      height: 34px;
      background: white;
      z-index: 1;
      border: 1px solid #F4F4F4;
      //border: 2px solid #0069A5;
      border-radius: 50px;
      justify-content: center;
      align-items: center;
      padding: 0px 36px 0px 10px;
      display: none;
    }
    .custom_icon {
      height: 34px;
      width: 34px;
      background: #FBFBFB;
      border: 1px solid #F4F4F4;
      //border: 2px solid #0069A5;
      box-sizing: border-box;
      box-shadow: 0px 3px 7px #c7c7c7;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      z-index: 5;
      position: relative;
    }


    &:hover {
      .nt_div_inf_t {
        display: flex;
      }
    }
  }
  .nt_btn_remove_tr {
    .nt_div_inf_t {
      color: #FF2E00;
    }

    .nt_div_inf_t_del {
      position: absolute;
      display: none;

      background: white;
      justify-content: center;
      padding: 11px 36px 0px 19px;

      border: 1px solid #CED6DD;
      box-shadow: 0px 3px 7px #C7C7C7;

      height: 61px;
      right: 0px;
      top: -14px;
      width: 462px;
      border-radius: 16px;
      z-index: 2;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 8px;
    }

    .nt_div_inf_t_del_c1 {
      color: #FF2E00;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
    }
    .nt_div_inf_t_del_c2 {
      display: flex;
      justify-content: center;
      padding: 10px;
      width: 100%;
    }
    .nt_div_inf_t_del_b1, .nt_div_inf_t_del_b2 {
      border: solid 1px transparent;
      border-radius: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #0069A5;
      background: transparent;
      &:hover {
        background: #e5f4ff;
        border: solid 1px #eaeaff;
      }
    }
    .nt_div_inf_t_del_b1 {
      margin-right: 25px;
    }

    &.nt_open_del_pop {
      .custom_icon {
        border: 1px solid #CED6DD;
        background-color: #FF2E00;
        rect, line {
          fill: #FF2E00!important;
          stroke: white!important;
        }
      }

      .nt_div_inf_t_del {
        display: flex;
      }
    }
  }
  .nt_btn_archive_tr {
    .nt_div_inf_t {
      color: #0069A5;
    }
  }



  .nt_th {
    min-width: 120px;

    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-family: Roboto;
  }

  .nt_th_0 {
    min-width: 200px;
    width: 40%;

    text-align: left;
    padding-left: 16px;
    display: flex;
    align-items: center;
  }

  .nt_th_2, .nt_th_3, .nt_th_4 {
    width: 20%;
  }

  /*
  .nt_td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .nt_td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  */

  .nt_td {
    min-width: 120px;
  }

  .nt_td_0 {


    min-width: 200px;
    width: 40%;
  }

  .nt_td_2, .nt_td_3, .nt_td_4 {
    width: 20%;
  }


  .nt_td_0 {
    .nt_co_0 {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    .nt_co_inf {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .nt_inf_owner {
      font-size: 12px;
      display: flex;
      align-items: flex-start;
      color: #ff9600;
      &.nt_owner_my {
        color: #bee05e;
      }
    }

    .nt_inf_0 {
      font-size: 18px;
      display: flex;
      align-items: flex-start;
    }

    .nt_inf_1 {
      font-size: 14px;
    }
  }

  .nt_btn_operation {
    flex: 0 0 auto;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0px 8px;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 28px;
    display: inline-block;
    margin-left: 8px;
    height: 22px;
  }

  .nt_co_chev {
    flex: 0 0 auto;
    width: 48px;
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 16px;
    justify-content: space-between;
  }

  .nt_btn_ch {
    flex: 1 1 auto;
    border-radius: 50%;
    border: transparent solid 1px;
    padding: 2px;
    width: 30px;
    height: 30px;
    background: transparent;

  }

  .nt_co_mobile_chev {
    display: none;
  }


  .nt_co_inf_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-size: 15px;
  }

  .nt_inf_0, .nt_inf_1 {
    margin-bottom: 4px;
  }

  .nt_co_btn {

  }

  .nt_co_date_label {

  }

  .nt_btn_inf {
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 28px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
  }

  .nt_is_open_tr {
    .nt_tr {
      opacity: 0.2;
      //opacity: 1;
    }
    .nt_tr_open {
      opacity: 1;
    }
  }

  .nt_tr_open {
    .nt_inf_1 {
      margin-bottom: 10px;
    }
    .nt_btn_inf {
      padding: 10px 12px;
      margin-bottom: 14px;
    }
  }

  .nt_btn {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 20px;
    border: solid transparent 2px;

    white-space: nowrap;

    &:active {
      border: 1px solid #F4F4F4;
      //border: solid #0f9af0 2px;
    }

    i {
      font-size: 12px;
    }
  }

  .nt_btn_completed {
    background: #BEE05E;
  }
  .nt_btn_signed {
    background: #5EE0A2;
  }

  .nt_btn_processing {
    background: #5EE0A2;
  }

  .nt_btn_generate {
    background: #FF9600;
    color: white;
  }

  .nt_btn_o_cont {
    position: relative;
    width: 100%;
    max-width: 130px;
    border-radius: 10px;
    &:hover {
      background-color: #94d8ff2e;
    }
  }
  .nt_btn_ed {
    color: #0069A5;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 100%;

    .custom_icon {
      margin-right: 4px;
    }
  }

  .nt_toggle_open_tr {
    cursor: pointer;
  }



  .nt_footer_cont {
    position: absolute;

    padding: 30px 50px 30px 50px;
    width: 100%;
    max-width: 100% !important;
    z-index: 100;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background: rgba(252,252,252,.7);
    backdrop-filter: blur(10px);
    border: 1px solid #e9e9e9;
    margin: auto;
  }
  .nt_footer_cont_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .nt_footer_cont_s1 {
    flex: 0 0 auto;
    min-width: 220px;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  .nt_footer_cont_s2 {
    flex: 1 1 auto;
    min-width: 220px;
    display: flex;

    .nt_form_group {
      margin-right: 10px;
    }
  }
  .nt_footer_cont_s3 {
    display: flex;
    flex: 0 0 auto;
    align-items: center;

    button {
      display: inline-flex!important;
      justify-content: center;
    }
  }
  .nt_footer_pure_btn {
    color: #0069A5;
    white-space: nowrap;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;

    &:hover {
      background-color: #94d8ff2e;
    }
  }

  .nt_footer_cont_btn {
  //  font-family: Gujarati MT;
    background: #ff9600;
    border: 1px solid #fff;
    border-radius: 31px;
    padding: 10px 12px;
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
    &:hover {
      background-color: white;
      color: #FF9600;
      border: solid 1px;
    }
  }

  .nt_cst_span {
    display: none!important;
  }
  .nt_cst_ckeckbox {
    display: none!important;
    border: none;
    background: transparent;
    padding: 0px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  .nt_cst_chev {
    border: none;
    background: transparent;
    padding: 0px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #0069a5;
    width: 28px;

    &:before {
      content: '+';
    }
    &.nt_ch_open:before {
      content: '\2014';
    }
  }
}

.mobile-dis {

  .nt_table_co {
    .nt_wrapper_table {
      height: calc(100vh - 156px);
    }

    .nt_is_open_tr {
      .nt_tr {
        opacity: 1;
      }
    }

    .nt_tr.nt_tr_hover {
      .nt_co_hover {
        display: none;
      }
    }

    .nt_thead {
      display: none;
    }
    .nt_tbody {
      margin-top: 10px;
      overflow-x: hidden;
    }

    .nt_tr_mobile_header {
      display: flex;
      border: solid transparent 2px;
      &.nt_tr_active_check {
        border: solid #0069A5 2px;
      }
    }
    .nt_tr {
      flex-wrap: wrap;
      border: 1px solid #F4F4F4;
      &.nt_tr_active_check {
        border: solid #0069A5 2px;
        border-top-color: #F4F4F4;

      }
    }

    .nt_td_0 {
      width: 100%;

      .nt_co_chev {
        display: none;
      }
    }

    .nt_td_2, .nt_td_3, .nt_td_4 {
      width: 33%;
      min-width: 100px;
      max-width: 142px;
    }

    .nt_td_3 {
      width: 34%;
    }

    .nt_btn_inf {
      margin-bottom: 6px;
      margin-top: 6px;
    }

    .nt_co_mobile_chev {
      display: flex;
      width: 100%;
      padding: 8px;
    }

    .nt_footer_cont {
      padding: 10px 8px;
    }
    .nt_footer_cont_s1 {
      width: 100%;
    }
    .nt_footer_cont_s2 {
      width: 100%;
      display: flex;
      padding-top: 8px;
      padding-bottom: 4px;

      .nt_input {
        padding: 6px 4px;
      }
    }
    .nt_footer_cont_s3 {
      width: 100%;
      display: flex;

      button {
        width: 100%;
        display: inline-flex!important;
        justify-content: center;
      }
    }
  }
}

@include sass-themify() {


  .nt_tbody::-webkit-scrollbar, .nt_tbody_scroller::-webkit-scrollbar {
    height: sass-themify-get-color("cool_t_gc_tbody-webkit-scrollbar-height");
    width: sass-themify-get-color("cool_t_gc_tbody-webkit-scrollbar-width");
    background-color: sass-themify-get-color('cool_t_gc_tbody-webkit-scrollbar-background-color');
  }
  .nt_tbody::-webkit-scrollbar-thumb, .nt_tbody_scroller::-webkit-scrollbar-thumb {
    background: sass-themify-get-color('cool_t_gc_tbody-webkit-scrollbar-thumb-background');
    border-radius: sass-themify-get-color('cool_t_gc_tbody-webkit-scrollbar-thumb-border-radius');
  }
}
.nt_tbody.hide-scrollbar::-webkit-scrollbar { display: none; }
.nt_tbody.hide-scrollbar {
  scrollbar-width: none;
}

.nt_modal {
  .modal-content {
    border-radius: 25px!important;
  }
  .modal-header {
    border-bottom: none!important;
  }
  .modal-body {
    padding: 20px 100px!important;
  }
  .modal-footer {
    border-top: none!important;
    padding: 20px 100px!important;
    justify-content: flex-start!important;
    &>div {
      display: flex;
      justify-content: flex-start!important;
    }
  }


  .nt_close_btn {
    color: #0069A5 !important;
    margin-left: -15px !important;
    margin-top: -20px !important;
    font-size: 24px !important
  }

  .nt_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 100%;
  }
  .nt_title_span_normal {
    font-weight: normal;
  }

  .nt_btn_dang, .nt_btn_def {
    white-space: nowrap;
    color: white;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 31px;
    margin-right: 8px;

    background-color: white;
    border: solid 1px;
    display: flex;
    align-items: center;

    &:hover {
      color: white;
      path {
        fill: white!important;
      }
    }
  }
  .nt_btn_dang {
    color: #dc3545;
    &:hover {
      background: #dc3545;
      border: 1px solid #dc3545;
    }
  }
  .nt_btn_def {
    color: #0069A5;
    &:hover {
      background: #0069A5;
      border: 1px solid #0069A5;
    }
  }
}

.nt_modal_nud {
  .modal-body {
    padding: 16px!important;
  }
  .nt_box_file_dnd {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border-radius: 26px;
    overflow: hidden;
    position: relative;

    transition: all 0.3s;
    cursor: pointer;

    &:hover, &.nt_dnd {
      border: 1px #0069A5 dashed;
      background: #dbf2ff;
    }
  }
  .nt_file {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 3;
  }

  .nt_file_div_upl {
    display: flex;
    color: #0069A5;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    z-index: 1;

  }
  .nt_file_div_upl_line {
    display: flex;
    border-radius: 14px;
    opacity: 0;
    width: 70%;
    position: absolute;
    height: 8px;
    top: 130px;
    z-index: 2;
    background: #6A6A6A;
    transition: opacity 0.3s;
    &.open {
      opacity: 1;
    }
  }
  .nt_file_div_upl_line_perc {
    background: #00D1FF;
    border-radius: 14px;
  }

  .nt_co_sign {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nt_co_center_padding {
    padding-top: 16px;
    display: flex;
    justify-content: center;

    .react-datepicker-wrapper {
      max-width: 184px;
    }
    .form-control {
      color: #0069A5!important;
      font-family: Roboto!important;
      font-style: normal!important;
      font-size: 18px!important;
      line-height: 21px!important;
      border-radius: 20px;

      margin-right: 8px;
    }
  }

  .nt_img_div {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .nt_btn_sign_doc {

  }


  .nt_wrapper_panels {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    .nt_w_d1 {
      width: calc(50% - 40px);
      flex: 1 1 auto;
      overflow: hidden;
      min-width: 200px;
      padding: 20px;

      .nt_not_file {
        .nt_box_file_dnd {
          height: 143px;
        }
        .nt_file_div_upl_line {
          top: 100px;
        }
      }

    }
    .nt_w_or {
      flex: 0 0 auto;
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 20px;
    }
    .nt_w_d2 {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;

      width: calc(50% - 40px);
      flex: 1 1 auto;
      overflow: hidden;
      min-width: 200px;

      padding: 20px;
    }
  }

  @media (max-width: 540px) {
    .nt_w_or,.nt_w_d1,.nt_w_d2{
      width: 100%!important;
    }
  }
}

