:global {


.react-datepicker-popper {
      z-index: 10!important;
}

.table_tree_row {
  table{
    table-layout: auto;
  }
}

.table_tree_cont{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 0px 50px 0px;


  .table_tree_control {
    .p-input-icon-left {
      width: 100%;
      i:first-of-type {
        left: 20px;
        color: silver;
        top: 30px;
        font-size: 27px;
      }
      .p-inputtext {
        background: #FFFFFF;
        border: 1px solid #B7B7B7;
        box-sizing: border-box;
        border-radius: 74px;
        width: 100%;
        height: 66px;
        font-size: 33px;
        padding-left: 60px;

        &::placeholder {
          color: #C4C4C4;
        }
      }
    }

    flex-direction: column;
    display: flex;
    .right_ctrl {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .left_ctrl{
      overflow: auto;
      flex: 1;
      display: flex;
      align-items: center;

      .label_div{
        flex: 1;
        color: #ffa400;
        padding: 0px 10px;
        font-size: 15px;
      }
    }
  }




    .p-component-overlay{
      background-color: transparent!important;
    }

  .p-treetable .p-treetable-tbody > tr > td  {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      padding: 8px!important;
    }
    .p-treetable .p-column-resizer {
      background-color: #ebeef2;
      width: 0px!important;
    }

    .table_tree {
      margin-top: 15px;
      box-shadow: -1px 5px 5px 0px #e9ecef;
    }

    .file_cont {

      display: flex;
      align-items: center;
      .file_name_cont{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .file_download_btn {
        background-color: #06b4f9;
        color: white;
        font-weight: 600;
        box-shadow: 0 5px 15px 0px #e2e2e2;
        border: 1px solid transparent;
        font-size: 1rem;
        line-height: 1.5;
        margin-left: 5px;
        border-radius: 5px;
      }
    }


  }

  .mobile-dis {
    .table_tree_cont {

      padding: 0px 2px 0px;
      .table_tree_control {
        .right_ctrl {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .p-input-icon-left {

        }
        .p-inputtext {
          height: 38px;
          font-size: 20px;
          padding-left: 44px;
        }
        .p-input-icon-left i:first-of-type {
          top: 18px;
          font-size: 20px;
          left: 14px;
        }

      }

    }


  }
}


