#zt_HomePage {
  height: 100%;
  width: 100%;



}
.home-title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
  min-width: 300px;
}
.HomeContainer {
  fill: #000;
  padding: 24px 24.66666667px;
  font-size: 13px;
  max-width: 1063px;
  margin: 0 auto;
}
@media (min-width: 920px) {
  .HomeContainer {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media (min-width: 480px) {
  .HomeContainer {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.home-feature-tile-container {
  padding-left: 0;
  list-style: none;
  margin-top: -7px;
  margin-left: -7px;
}
.home-section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.home-section:not(:last-child) {
  margin-bottom: 40px;
}
@media (min-width: 480px) {
  .home-section {
    min-width: 300px;
  }
}


.home-feature-tile {
  height: 100px;
  width: 100px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  cursor: pointer;
  text-align: center;
  //border: 1px solid transparent;
  //margin: 0 0 0 7px;
  margin: 0 0px 14px 14px;
  box-sizing: border-box;
  //neomorfizm
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #545454;

  &:hover {
    //box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
    //box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

    background-color: #ffffffa8;
    //border-color: rgba(204,204,204,.8);
  }
  &:active {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    color: #5d78ff;
    background-color: inherit;
  }
}
a.home-feature-link {
  -webkit-flex-direction: column;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: inherit;
}
.home-feature-link {
  padding: 14px 4px 9px 4px;
  box-sizing: border-box;
}
.home-resource-icon {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 50px;
  width: 50px;
  margin-bottom: 0px;
  i {
    font-size: 50px;
  }
  .img-icon {
    width: 100%;
    height: 100%;
    border-radius: 8px ;
  }
}
.home-feature-name {
  max-width: 100%;
  display: block;
  display: -webkit-box;
  line-height: 14px;
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}