@import "themes";
// @import "index";

:global {
	@import "other_styles/rc-tree";
	@import "containers/CalcPage/CalcPage";

	body {
	    overflow-x: hidden;
	}

	.loader {
		.ball-pulse>div:nth-child(1),.ball-pulse>div:nth-child(2),.ball-pulse>div:nth-child(3) {
			background-color: #909090;
		}
	}
	.loader-text {
		color: #909090;
	}
	.calc-page-block {
		height: 100%;
		width: 100%;
	}
}

