@use "~sass-themify/sass-themify" as *;
@import "themes";

:global {
  @import "neumorphic_styles/index";
  @import "containers/master/Master";

  @import "components/HZTabs";
  @import "components/HZContextMenu";
  @import "components/CoolTreeTabs";
  @import "components/CoolTable";
  @import "components/CoolMarketFilter/CoolMarketFilter";
  @import "components/CoolModalForm/CoolModalForm";

  @import "components/svg/EnematLoader";

  @import "containers/master/Header";
  @import "containers/master/MenuSidebar";
  @import "containers/master/FilterSidebar";
  @import "containers/master/MSidebar";
  @import "containers/master/ProgressPanel";
  @import "containers/master/GalleryPanel";
  @import "containers/master/FormsPanel";

  @import '~react-image-lightbox/style.css';

  @import "other_styles/rc-tree";
  @import "containers/LoginPage/LoginPage";
  @import "containers/LoginPage/RegistrationPage";
  @import "containers/ClassesPage/ClassesPage";
  @import "containers/CalcPage/CalcPage";
  @import "containers/ObjectsPage/ObjectModal";
  @import "containers/ObjectsPage/ObjectModalCloth";
  @import "containers/ObjectsPage/PermissionWindowCloth";
  @import "containers/HomePage/HomePage";
  @import "containers/ViewPage/ViewPage";
  @import "containers/ViewPage/ViewTableCloth";
  @import "containers/TreeTablePage/NTreeTable";
  @import "helpers/form_datatype_helper";
  @import "helpers/table_datatype_helper";

  @import "tmp";


  .zt_loader_suspense_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    .ball-pulse>div:nth-child(1),.ball-pulse>div:nth-child(2),.ball-pulse>div:nth-child(3) {
      background-color: #909090;
    }
  }
  .loader-text {
    color: #909090;
  }

  .hide-el {
    display: none!important;
  }

  .mobile-dis {
    .hide-el-mobile {
      display: none!important;
    }
  }
  .desktop-dis {
    .hide-el-desktop {
      display: none!important;
    }
  }


  .zt_header_a_logo {
    width: auto;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .zt_img_logo_min {
    height: 100%;
    padding: 2px 20px;
  }
  .zt_version_div {
    font-size: 10px;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
  }


  .btn.disabled, .btn:disabled {
    cursor: not-allowed;
  }

  #root {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: background .25s ease;
    z-index: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-size: 13px;
    line-height: normal;
  }

  @include sass-themify() {
    #root {
      background-color: sass-themify-get-color('root-background-color');
    }
  };
}
