@use "~sass-themify/sass-themify" as *;

/*#TODO:: ВРЕМЕННЫЕ*/
.modal-backdrop {
  z-index: 1740!important;
}
.modal {
  z-index: 1750!important;
}
/*
.modal.show .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 100%;
}
.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.modal-body {
  overflow: auto;
  height: calc(100vh - 170px);
}
.fade.modal.show {
  padding-left: 0px!important;
}
*/
/*region tim*/

@mixin toolbar {
  flex: 0 0 auto;
  display: flex;
  height: 32px;
  padding-right: 2px;

  flex-direction: row;
}
@mixin toolbar-search {
  min-width: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18)!important;
  margin: 0 2px;
  display: inline-block;
  height: 30px;

  flex: 1 1 auto;
}
@mixin toolbar-button {
  background-color: #fff;
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0 2px!important;
  line-height: 1!important;
  font-size: 11px!important;
  box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border: solid 1px #ced4da;
  flex: 0 0 auto;
  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.26);
    border: solid 1px #ced4da;
  }
  &:after {
    content: "";
    background-color: #bbbbbb;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.95s;
  }
  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

/* Style the list */
.zt_cloth {
  display: flex;
  flex-direction: column;
}
#MainTable {
  flex: 1 1 auto;
}
ul.zt_breadcrumb {
  padding: 0px 12px;
  font-size: 10px;
  margin-bottom: 8px;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 0 auto;
}
/* Display list items side by side */
ul.zt_breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.zt_breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.zt_breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.zt_breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.CoolMarketFilter {
  //height: calc(100% - 40px);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.react-datepicker__close-icon::after {
  padding-top: 0px!important;
}
.ttp_content {
  //height: calc(100% - 40px);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pp_wrap_splitter_block {
  height: 100%;
  width: 100%;
}
.ttp {
  height: 100%;
  min-width: 200px!important;
}
.pp_wrap {
  height: 100%;
  min-width: 200px!important;
}

.ttp_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rt_tab_wrapper {
  flex: 0 0 auto;
}
.ttp_toolbar {
  @include toolbar;
}
.ttp_inp_search {
  @include toolbar-search
}
.ttp_toolbar_btns {
  @include toolbar-button;
}


.ttp_co_trees {
  flex: 1 1 auto;
  overflow: auto;
  height: 100%;
}
.ttp_tree_node_founded>.rc-tree-node-content-wrapper {
  font-style: italic;
  color: #8b0000!important;
  font-weight: 700;
}
.ttf_h {
  z-index: 1;
}

.ttp_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;

  .ttp_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;

    background-color: #eeeff0;
    border: solid 1px #c1c1c1;
    border-bottom: none;

    .ttp_bar_name {
      font-size: 10px;
      padding: 0px 4px;
      color: #898989;
    }
    .ttp_hide_panel {
      padding: 0px 10px;
      position: absolute;
      right: 0px;
      font-size: 10px;
      color: #c1c1c1;
    }
  }
  .ttp_content {
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    //height: calc(100% - 20px);
    border: solid 1px #c1c1c1;
    margin-left: 0px;
  }
}

.tf_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tf_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 auto;

    background-color: #eeeff0;
    border: solid 1px #c1c1c1;
    border-bottom: none;

    .tf_bar_name {
      font-size: 10px;
      padding: 0px 4px;
      color: #898989;
    }
    .tf_hide_panel {
      padding: 0px 10px;
      position: absolute;
      right: 0px;
      font-size: 10px;
      color: #c1c1c1;
    }
  }
  .tf_content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);

    background-color: white;
    border: solid 1px #c1c1c1;
    margin-left: 0px;
  }
}

.Class_hide_ttf {
  .ttp_h {
    max-height: calc(100% - 18px)!important;
    height: 100%!important;
  }
  >.handle-bar.horizontal {
    display: none!important;
  }
}
.Class_hide_ttp {
  .ttp_h {
    max-height: calc(100% - 18px)!important;
    height: 0!important;
  }
  >.handle-bar.horizontal {
    display: none!important;
  }
}

/*endregion*/

.pp_cloth {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pp_main_bar {
  position: relative;
  border-bottom: 1px silver solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 auto;
}
.pp_content_bar {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}


.pp_main_bar_co_name {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}
.pp_breadcrumb_item {
  padding: 0 4px;
}
.pp_main_bar_co_buttons {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.pp_btn_hide {
  color: #383636;
  box-shadow: none!important;
  &:hover, &.active {
    background-color: #e5e5e5;
  }
}
.pp_btn_close {
  color: #383636;
  box-shadow: none!important;
  &:hover {
    color: white;
    background-color: #E26A6A;
  }
}


.pp_tollbar {
  flex: 0 0 auto;
  background-color: #f4f4f4;
}

.pp_tollbar_tools {
  & .pp_c {
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
    margin: 4px 2px 4px 2px;
    display: inline-flex;
  }
  & .pp_c_btn {
    height: 26px;
    font-size: 11px;
    padding: 5px 18px;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    border-radius: 2px;
    position: relative;
    user-select: none;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    border: solid 1px rgb(204, 204, 204);
    &>i {
      margin: 2px 4px 0px 0px;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.26) 0px 3px 6px;
      text-decoration: none;
    }
  }

  & .pp_c_switch {
    vertical-align: middle;
  }
  & .pp_c_inp {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 12px;
    border: solid 1px rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    height: 26px;
  }

  & .pp_c.disabled, .pp_c[disabled], .pp_c[disabled] {
    cursor: not-allowed!important;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn_params_to_group {
    padding: 5px 12px;
  }
  .btn_sort_groups {
    padding: 5px 14px;
  }
  .btn_sort_params{
    padding: 5px 14px;
  }
}

.CM_btn_hide_column, .CM_btn_fixed_column {
  border: 1px solid #979797;
  box-shadow: 2px 2px 2px #999;
  background: #f5f5f5;
  display: block;
  z-index: 100;


  max-height: 300px;
  overflow: auto;
  max-width: 200px!important;

  ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
    color: #6f6f6f;
    li {
      padding: 5px 5px 5px 10px;
      label {
        margin-bottom: 0px;
        padding-left: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        >div {
          display: inline-block;
        }

        i {
          line-height: 0px!important;
        }
      }
    }
    li.CM_li_silver {
      background-color: silver;
    }
  }
}


.pp_table {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.uit_full_height_body {
  .modal-body {
    height: calc(100vh - 210px);
    overflow: auto;
  }
}
.ui_t_center {
  text-align: center;
}
.ui_t_bold {
  font-weight: bold;
}

.uit_SortModalParamsWrap {
  .modal-body {
    height: calc(100vh - 210px);
    overflow: auto;
  }
  .uit_drop {
    background-color: white;
    &.uit_isDraggingOver {
      background-color: #fcfbf3;
    }
  }
  .uit_drag_elem {
    padding: 4px;
    margin: 0 0 4px 0;
    border: solid 2px #dddddd;
    border-radius: 2px;
    background-color: white;
    &:hover {
      background-color: #fcfbe4;
    }
    &.uit_isDragging_elem {
      background-color: #fcfbe4;
      border-color: #32c5d2;
    }
  }
}

.CM_wrap_to_group {
  overflow: auto;
  max-height: 600px;
  /*Заглушка, чтобы в одномерном меню был оверфлов*/
}

.cool_t_chart #zt_AppPage{
  height: 100%;
}



@include sass-themify() {
  .pp_tollbar_tools {
    & .pp_c_btn {
      border-color: sass-themify-get-color("tollbar_tools_btn-border-color");
      color: sass-themify-get-color("tollbar_tools_btn-color");

      &:hover {
        color: sass-themify-get-color("tollbar_tools_btn-hover-color");
        background-color: sass-themify-get-color("tollbar_tools_btn-hover-background-color");
      }
    }
    & .pp_c_inp {
      border-color: sass-themify-get-color("tollbar_tools_btn-border-color");
      color: sass-themify-get-color("tollbar_tools_btn-color");
    }
  }


  #root {
    font-family: sass-themify-get-color('root-font-family');
  }

  //Jenya
  .userstep_form .title_step, .userstep_form .sub_title_step {
    font-family: sass-themify-get-color('mt-step-light');
  }
  .userstep_form {
    font-family: sass-themify-get-color('mt-step-regular');
  }
  div.regular_font {
    font-family: sass-themify-get-color('mt-step-regular')!important;
  }


}
